<div class="login-page">
    <div *ngIf="centreNameNotFound">
        <h1>{{ centreNameNotFound }} was not found</h1>
        <h4>If you were provided with this link by your centre, please contact the centre</h4>
    </div>
    <div *ngIf="!centreNameNotFound">
        <h1>Please select a valid Centre Login page</h1>
    </div>
</div>