﻿<page-heading-parent-portal-cmp [breadcrumbs]="[{ link: '../../enrolment-form', name: 'Enrolment Form' }]" [pageDisplayName]="'Edit Parent'"></page-heading-parent-portal-cmp>
<div class="container-fluid m-b-1">
  <div class="pull-left">
    <h4>Primary Parent/Guardian</h4>
  </div>
</div>

<div *ngIf="!parentDto">
  <spinner-cmp></spinner-cmp>
</div>
<div *ngIf="parentDto">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" role="form">
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Title *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <select id="inp-title" [(ngModel)]="parentDto.title" [formControl]="title" class="form-control">
          <option [selected]="parentDto.title === 0 || parentDto.title === undefined">Please Select</option>
          <option value="1">Mr</option>
          <option value="2">Mrs</option>
          <option value="3">Ms</option>
          <option value="4">Miss</option>
          <option value="5">Dr</option>
          <option value="6">Reverend</option>
          <option value="7">Father</option>
          <option value="8">Sister</option>
        </select>
        <small [hidden]="title.valid || title.untouched" class="text-danger">Title is required</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>First Name *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-firstName" readonly [value]="parentDto.firstName" type="text" class="form-control" placeholder="(e.g. Terry)">
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Surname *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-lastName" readonly [value]="parentDto.lastName" type="text" class="form-control" placeholder="(e.g. Smith)">
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Mobile *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-mobile" readonly [value]="parentDto.primaryPhone" type="text" class="form-control" placeholder="(e.g. 0411 222 333)">
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Home Phone</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-homePhone" [(ngModel)]="parentDto.homePhone" [formControl]="homePhone" type="text" class="form-control" placeholder="(e.g. 07 5432 8765)">
        <small [hidden]="homePhone.valid || homePhone.untouched" class="text-danger">Phone is required and consists of maximum 12 digits</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Email *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-email" readonly [value]="parentDto.email" type="text" class="form-control" placeholder="(e.g. you@email.com)">
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Gender *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <select id="inp-gender" [(ngModel)]="parentDto.gender" [formControl]="gender" class="form-control">
          <option [selected]="parentDto.gender === 0 || parentDto.gender === undefined">Please Select</option>
          <option value="1">Male</option>
          <option value="2">Female</option>
        </select>
        <small [hidden]="gender.valid || gender.untouched" class="text-danger">Gender is is required and consists of maximum 10 characters</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Date of Birth *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4 width-inherit">
        <input id="inp-dateOfBirth" [(ngModel)]="parentDto.dateOfBirth" [formControl]="dateOfBirth" [max]="maxDateOfBirth" type="date"
          class="form-control" useValueAsDate>
        <small [hidden]="!(dateOfBirth.errors?.required && !dateOfBirth.pristine)" class="text-danger">Date of Birth is required</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Nationality *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-nationality" [(ngModel)]="parentDto.nationality" [formControl]="nationality" type="text" class="form-control"
          placeholder="(e.g. Australian)">
        <small [hidden]="nationality.valid || nationality.untouched" class="text-danger">Nationality is required and consists of maximum 50 characters</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Street Address *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-streetAddress" [(ngModel)]="parentDto.streetAddress" [formControl]="streetAddress" type="text" class="form-control"
          placeholder="(e.g. 3/60 Queen St)">
        <small [hidden]="streetAddress.valid || streetAddress.untouched" class="text-danger">Street Address Required and consists of maximum 200 characters</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Suburb *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-suburb" [(ngModel)]="parentDto.suburb" [formControl]="suburb" type="text" class="form-control" placeholder="(e.g. Brisbane)">
        <small [hidden]="suburb.valid || suburb.untouched" class="text-danger">Suburb is required and consists of maximum 12 characters</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>PostCode *</label>
      </div>
      <div class="col-sm-4, col-md-4, col-lg-4, col-xl-4">
        <input id="inp-postcode" [(ngModel)]="parentDto.postcode" [formControl]="postcode" type="text" class="form-control" placeholder="(e.g. 4000)">
        <small [hidden]="postcode.valid || postcode.untouched" class="text-danger">PostCode must be 4 digits</small>
      </div>
    </fieldset>

    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>State *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <select id="inp-state" [(ngModel)]="parentDto.state" [formControl]="state" class="form-control">
          <option [selected]="parentDto.state === null || parentDto.state === undefined">Please Select</option>
          <option>Queensland</option>
          <option>New South Wales</option>
          <option>Victoria</option>
          <option>Australian Capital Territory</option>
          <option>Northern Territory</option>
          <option>Western Australia</option>
          <option>South Australia</option>
          <option>Tasmania</option>
        </select>
        <small [hidden]="state.valid || state.untouched" class="text-danger">State Required</small>
      </div>
    </fieldset>

    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>CRN</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-crn" [(ngModel)]="parentDto.crn" [formControl]="crn" type="text" class="form-control" placeholder="(e.g. 123456789A)">
        <small [hidden]="crn.valid || crn.untouched" class="text-danger">CRN must be 9 digits followed by one letter</small>
        <div class="text-center"><small>This CRN must belong to this parent</small>
        </div>
        <div class="text-center"><small>Only one Guardian requires a CRN</small>
        </div>
      </div>
    </fieldset>
    <div class="container-fluid m-b-1">
      <div class="pull-left">
        <h4>Family Background</h4>
      </div>
    </div>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>What is your family's ethnic background?</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <textarea id="inp-familyEthinicBackground" [(ngModel)]="parentDto.familyEthinicBackground" [formControl]="familyEthinicBackground" type="text" class="form-control" placeholder="Please provide brief details..." rows="4" cols="120"></textarea>
        <small [hidden]="familyEthinicBackground.valid || familyEthinicBackground.untouched" class="text-danger">Family Ethinic Background consists of maximum 1000 characters </small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Does your family observe any particular religious or cultural practices?</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <textarea id="inp-religiousOrCulturalPractices" [(ngModel)]="parentDto.religiousOrCulturalPractices" [formControl]="religiousOrCulturalPractices" type="text" class="form-control" placeholder="Please provide brief details..." rows="4" cols="120"></textarea>
        <small [hidden]="religiousOrCulturalPractices.valid || religiousOrCulturalPractices.untouched" class="text-danger">Religious or Cultural Practices consists of maximum 1000 characters </small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>What languages are predominantly spoken at your home?</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <textarea id="inp-predominantLanguagesAtHome" [(ngModel)]="parentDto.predominantLanguagesAtHome" [formControl]="predominantLanguagesAtHome" type="text" class="form-control" placeholder="Please provide brief details..." rows="4" cols="120"></textarea>
        <small [hidden]="predominantLanguagesAtHome.valid || predominantLanguagesAtHome.untouched" class="text-danger">Predominant Language At Home consists of maximum 1000 characters </small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Any other details you would like to provide?</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <textarea id="inp-otherDetails" [(ngModel)]="parentDto.otherDetails" [formControl]="otherDetails" type="text" class="form-control" placeholder="Please provide brief details..." rows="4" cols="120"></textarea>
        <small [hidden]="otherDetails.valid || otherDetails.untouched" class="text-danger">Other Details consists of maximum 1000 characters </small>
      </div>
    </fieldset>
    <button id="btn-save-centre" type="button" (click)="saveChanges()" [disabled]="!form.valid" class="btn btn-primary">Save</button>
    <button id="btn-cancel-centre" type="button" (click)="cancelEdit()" class="btn btn-danger">Cancel</button>
  </form>
</div>