﻿<page-heading-parent-portal-cmp [breadcrumbs]="[{ link: '../enrolment-form', name: 'Enrolment Form' }]" [pageDisplayName]="'Edit Contact'"></page-heading-parent-portal-cmp>
<div class="container-fluid m-b-1">
  <div class="pull-left">
    <h4>Emergency Contact</h4>
  </div>
</div>

<div *ngIf="!contactDto">
  <spinner-cmp></spinner-cmp>
</div>
<div *ngIf="contactDto">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" role="form">
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Title</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <select id="inp-title" [(ngModel)]="contactDto.title" [formControl]="title" class="form-control">
          <option [selected]="contactDto.title === null || contactDto.title === undefined || contactDto.title === 0">Please Select</option>
          <option *ngFor="let title of titles" [hidden]="title.value === '0'" [value]="title.value">{{ title.title }}</option>
        </select>
        <small [hidden]="title.valid || title.untouched" class="text-danger">Title is required</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>First Name *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-firstName" [(ngModel)]="contactDto.firstName" [formControl]="firstname" type="text" class="form-control" placeholder="(e.g. Terry)">
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Surname *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-lastName" [(ngModel)]="contactDto.lastName" [formControl]="lastname" type="text" class="form-control" placeholder="(e.g. Smith)">
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Mobile *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-mobile" [(ngModel)]="contactDto.mobile" [formControl]="mobile" type="text" class="form-control" placeholder="(e.g. 0411 222 333)">
        <small [hidden]="mobile.valid || mobile.untouched" class="text-danger">Mobile Phone must consist of maximum 10 digits</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Home *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-homePhone" [(ngModel)]="contactDto.home" [formControl]="homePhone" type="text" class="form-control" placeholder="(e.g. 07 5432 8765)">
        <small [hidden]="homePhone.valid || homePhone.untouched" class="text-danger">Home Phone must consist of maximum 10 digits</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Email *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-email" [(ngModel)]="contactDto.email" [formControl]="email" type="text" class="form-control" placeholder="(e.g. you@email.com)">
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Gender</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <select id="inp-gender" [(ngModel)]="contactDto.gender" [formControl]="gender" class="form-control">
          <option [selected]="contactDto.gender === null || contactDto.gender === undefined || contactDto.gender === 0">Please Select</option>
          <option *ngFor="let gender of genders" [value]="gender.value" [hidden]="gender.value === '0'">{{ gender.title }}</option>
        </select>
        <small [hidden]="gender.valid || gender.untouched" class="text-danger">Gender is is required and consists of maximum 10 characters</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Relationship To Family *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <select id="inp-relationship" [(ngModel)]="contactDto.relationshipToFamily" [formControl]="relationship" class="form-control">
          <option [selected]="contactDto.relationshipToFamily === null || contactDto.relationshipToFamily === undefined">Please Select</option>
          <option *ngFor="let optionEntry of relationshipOptions" [value]="optionEntry.value">{{optionEntry.title}}</option>
        </select>
        <small [hidden]="relationship.valid || relationship.untouched" class="text-danger">Relationship to child required</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Street Address</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-streetAddress" [(ngModel)]="contactDto.address" [formControl]="streetAddress" type="text" class="form-control"
          placeholder="(e.g. 3/60 Queen St)">
        <small [hidden]="streetAddress.valid || streetAddress.untouched" class="text-danger">Street Address must consist of maximum 200 characters</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Suburb</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-suburb" [(ngModel)]="contactDto.suburb" [formControl]="suburb" type="text" class="form-control" placeholder="(e.g. Brisbane)">
        <small [hidden]="suburb.valid || suburb.untouched" class="text-danger">Suburb must consist of maximum 12 characters</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>PostCode</label>
      </div>
      <div class="col-sm-4, col-md-4, col-lg-4, col-xl-4">
        <input id="inp-postcode" [(ngModel)]="contactDto.postcode" [formControl]="postcode" type="text" class="form-control" placeholder="(e.g. 4000)">
        <small [hidden]="postcode.valid || postcode.untouched" class="text-danger">PostCode must be 4 digits</small>
      </div>
    </fieldset>

    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>State</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <select id="inp-state" [(ngModel)]="contactDto.state" [formControl]="state" class="form-control">
          <option [selected]="contactDto.state === null || contactDto.state === undefined">Please Select</option>
          <option>Queensland</option>
          <option>New South Wales</option>
          <option>Victoria</option>
          <option>Australian Capital Territory</option>
          <option>Northern Territory</option>
          <option>Western Australia</option>
          <option>South Australia</option>
          <option>Tasmania</option>
        </select>
      </div>
    </fieldset>
    <button id="btn-save-centre" type="button" (click)="saveChanges()" [disabled]="!form.valid" class="btn btn-primary">Save</button>
    <button id="btn-cancel-centre" type="button" (click)="cancelEdit()" class="btn btn-danger">Cancel</button>
  </form>
</div>