﻿<page-heading-parent-portal-cmp [breadcrumbs]="[{ link: cancelLink(), name: 'Enrolment Form' }]" [pageDisplayName]="'Edit Child'"></page-heading-parent-portal-cmp>
<div class="container-fluid m-b-1">
  <div class="pull-left">
    <h4>Child Details</h4>
  </div>
</div>

<div *ngIf="!kidDto">
  <spinner-cmp></spinner-cmp>
</div>
<div *ngIf="kidDto">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" role="form">
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>First Name *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-firstName" [(ngModel)]="kidDto.firstName" [formControl]="firstname" type="text" class="form-control" placeholder="(e.g. Terry)">
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Surname *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-lastName" [(ngModel)]="kidDto.lastName" [formControl]="lastname" type="text" class="form-control" placeholder="(e.g. Smith)">
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>CRN</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-crn" [(ngModel)]="kidDto.crn" [formControl]="crn" type="text" class="form-control" placeholder="(e.g. 123456789A)">
        <small [hidden]="crn.valid || crn.untouched" class="text-danger">CRN must be 9 digits followed by one letter</small>
        <div class="text-center"><small>This CRN must belong to this child</small>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Date of Birth *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4 width-inherit">
        <input id="inp-dateOfBirth" [(ngModel)]="kidDto.dob" [formControl]="dateOfBirth" type="date" [min]="minDateOfBirth" [max]="maxDateOfBirth"
          class="form-control" useValueAsDate>
        <small [hidden]="!(dateOfBirth.errors?.required && !dateOfBirth.pristine)" class="text-danger">Date of Birth is required</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Gender *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <select id="inp-gender" [(ngModel)]="kidDto.gender" [formControl]="gender" class="form-control">
          <option [selected]="kidDto.gender === null || kidDto.gender === undefined">Please Select</option>
          <option value="1">Male</option>
          <option value="2">Female</option>
        </select>
        <small [hidden]="gender.valid || gender.untouched" class="text-danger">Gender is is required and consists of maximum 10 characters</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Country Of Birth</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-countryOfBirth" [(ngModel)]="kidDto.countryOfBirth" [formControl]="countryOfBirth" type="text" class="form-control"
          placeholder="(e.g. Australia)">
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Street Address *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-streetAddress" [(ngModel)]="kidDto.streetAddress" [formControl]="streetAddress" type="text" class="form-control"
          placeholder="(e.g. 3/60 Queen St)">
        <small [hidden]="streetAddress.valid || streetAddress.untouched" class="text-danger">Street Address Required and consists of maximum 200 characters</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Suburb *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-suburb" [(ngModel)]="kidDto.suburb" [formControl]="suburb" type="text" class="form-control" placeholder="(e.g. Brisbane)">
        <small [hidden]="suburb.valid || suburb.untouched" class="text-danger">Suburb is required and consists of maximum 12 characters</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>PostCode *</label>
      </div>
      <div class="col-sm-4, col-md-4, col-lg-4, col-xl-4">
        <input id="inp-postcode" [(ngModel)]="kidDto.postcode" [formControl]="postcode" type="text" class="form-control" placeholder="(e.g. 4000)">
        <small [hidden]="postcode.valid || postcode.untouched" class="text-danger">PostCode must be 4 digits</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>State *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <select id="inp-state" [(ngModel)]="kidDto.state" [formControl]="state" class="form-control">
          <option [selected]="kidDto.state === null || kidDto.state === undefined">Please Select</option>
          <option>Queensland</option>
          <option>New South Wales</option>
          <option>Victoria</option>
          <option>Australian Capital Territory</option>
          <option>Northern Territory</option>
          <option>Western Australia</option>
          <option>South Australia</option>
          <option>Tasmania</option>
        </select>
        <small [hidden]="state.valid || state.untouched" class="text-danger">State Required</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Does the child identify as: *</label>
      </div>
      <div class="col-sm-12 col-md-8">
        <div class="row">
          <div class="col-sm-2">
            <div>
              <label for="inp-aboriginal">Aboriginal</label>
            </div>
            <div>
              <input id="inp-aboriginal" type="checkbox" [(ngModel)]="kidDto.aboriginal" (change)="selectAboriginalOrTorres($event.target.checked)"
                [formControl]="aboriginal" class="form-control checkbox-left">
            </div>
          </div>
          <div class="col-sm-3">
            <div>
              <label for="inp-torres">Torres Strait Islander</label>
            </div>
            <div>
              <input id="inp-torres" type="checkbox" [(ngModel)]="kidDto.torres" (change)="selectAboriginalOrTorres($event.target.checked)"
                [formControl]="torres" class="form-control checkbox-left">
            </div>
          </div>
          <div class="col-sm-2">
            <div>
              <label for="inp-neither">Neither</label>
            </div>
            <div>
              <input id="inp-neither" type="checkbox" [formControl]="neitherAboriginalNorTorres" (change)="selectNeitherAboriginalOrTorres($event.target.checked)"
                class="form-control checkbox-left">
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Primary Language</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-primaryLanguage" [(ngModel)]="kidDto.primaryLanguage" [formControl]="primaryLanguage" type="text" class="form-control"
          placeholder="(e.g. English)">
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Secondary Language</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-secondaryLanguage" [(ngModel)]="kidDto.secondaryLanguage" [formControl]="secondaryLanguage" type="text" class="form-control"
          placeholder="(e.g. Chinese)">
      </div>
    </fieldset>
    <button id="btn-save-centre" type="button" (click)="saveChanges()" [disabled]="!form.valid" class="btn btn-primary">Save</button>
    <button id="btn-save-continue-centre" type="button" (click)="saveChangesAndContinue()" [disabled]="!form.valid" class="btn btn-primary">Save and continue</button>
    <button id="btn-cancel-centre" type="button" (click)="cancelEdit()" class="btn btn-danger">Cancel</button>
  </form>
</div>