﻿<div *ngIf="!enrolment">
  <spinner-cmp></spinner-cmp>
</div>

<div *ngIf="enrolment">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" role="form">
    <fieldset class="form-group m-b-3">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Unique URL *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <div>
          <div style="display: inline-block">
            <input id="inp-domainPath" [(ngModel)]="enrolment.domainPath" [formControl]="domainPath" (keyup)="validateDomainPath(domainPath.value)"
              type="text" class="form-control" placeholder="(e.g. yourcentre)">
            <i class="fa form-control-feedback pull-right input-icon" aria-hidden="true" [ngClass]="{ 'fa-ban text-danger' : hasError(domainPath), 'fa-exclamation-triangle text-info' : hasWarning(domainPath), 'fa-check text-success': hasSuccess(domainPath) }"></i>

            <div class="absolute">
              <!--Success-->
              <i class="ion-checkmark-circled form-control-feedback" aria-hidden="true" [hidden]="!hasSuccess(domainPath)"></i>

              <!--Pending-->
              <div [style.visibility]="!hasWarning(domainPath) ? 'hidden' : 'visible'" class="text-info">
                <small>Validating Name...</small>
              </div>

              <!--Error-->
              <div [hidden]="!hasError(domainPath)" class="text-danger">
                <small *ngIf="domainPath.errors?.required">Unique URL Required</small>
                <small *ngIf="domainPath.errors?.pattern">Name can only have letters or digits</small>
                <small *ngIf="domainPath.errors?.maxlength">Name cannot be longer than 100 characters</small>
                <small *ngIf="domainPath.errors?.domainPathTaken">Name is already taken</small>
              </div>
            </div>
          </div>
          <div [style.visibility]="hasSuccess(domainPath) ? 'visible' : 'hidden'">
            <div style="display: inline-block">
              <a [href]="originUrl + enrolment.domainPath" target="_blank">{{ originUrl + enrolment.domainPath }}</a>
            </div>
            <div style="display: inline-block">
              <small [style.visibility]="hasSuccess(domainPath) && domainPath.dirty ? 'visible' : 'hidden'">(changes will take effect once page is saved)</small>
            </div>
          </div>
        </div>
      </div>
      <div class="pull-left m-r-1">
        <p class="m-b-2">Your Unique URL is a link that your customers will use to go to your Centre's Online Enrolment Portal.<br/>Please
          choose a Unique URL that best represents your centre and brand, such as "centreforkids".<br/>You should nave no spaces or special characters in your Unique URL</p>
      </div>
    </fieldset>

    <fieldset class="form-group m-b-3">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Base Colour *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-3, col-xl-3">
        <input type="button" class="btn btn-primary" [(colorPicker)]="enrolment.baseColour" [style.width]="'90%'" [style.background]="enrolment.baseColour || ''"
          [style.border-color]="enrolment.baseColour || ''" [value]="'Set Colour'" [cpPosition]="'right'" [cpOutputFormat]="'hex'"
          [cpOKButton]="true" [cpOKButtonClass]="'btn btn-success btn-xs'" [cpCancelButton]="true" [cpCancelButtonClass]="'btn btn-danger btn-xs'"
          [cpAlphaChannel]="'disabled'" />
      </div>
    </fieldset>

    <fieldset class="form-group m-b-3">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Upload Logo *</label>
      </div>
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-3">
        <div *ngIf="!centreLogo">
          <spinner-cmp></spinner-cmp>
        </div>
        <div *ngIf="centreLogo">
          <picture-uploader-cmp [title]="logoName === '' || logoName === null  ? 'No Logo Uploaded' : logoName" [picture]="logoBase64"
            [uploaderOptions]="uploaderOptions" (onUpload)="onLogoUpload($event)" (onUploadCompleted)="onLogoUploadComplete($event)"></picture-uploader-cmp>
        </div>
        <small>(recommended 350px by 350px)</small>
      </div>
    </fieldset>

    <fieldset class="form-group">
      <button id="btn-save-enrolment" type="submit" [disabled]="!form.valid" class="btn btn-primary">Save</button>
    </fieldset>
    <div class="container-fluid">
      <div class="pull-left m-r-1">
        <h4>Additional Requirements</h4>
      </div>
    </div>
    <div class="container-fluid m-b-0">
      <div class="pull-left m-r-1">
        <p class="m-b-2">Please enlist all the documents that you will require a Parent to bring to your Centre when finalising a Child's
          Enrolment
          <br/>(E.g. Medical Documents, Immunisation Documents, Legal Custody Documents, etc.)</p>
        <p class="m-b-1">The message below will appear on the Parents' Enrolment Portal and In their Approved Email.</p>
      </div>
    </div>
    <fieldset class="form-group m-b-3">
      <div class="col-sm-12, col-md-8, col-lg-6, col-xl-6">
        <div>
          <div style="display: inline-block">
            <textarea id="inp-additionalRequirement" [(ngModel)]="enrolment.additionalEnrolmentFormComments" [formControl]="additionalEnrolmentFormComments"
              maxlength="1000" class="form-control" placeholder="Please enlist all the documents required..." cols="550" rows="10"></textarea>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <button id="btn-save-additionalRequirement" type="submit" [disabled]="!form.valid" class="btn btn-primary">Save</button>
    </fieldset>
  </form>
</div>