<div class="login-page">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<img src="assets/img/MICARE_GLOBAL_ALTERNATIVE_WHITE.png" width="350px" />
			<h1>You are Logged out</h1>
			<a id="btn-login" [routerLink]="['../login']" class="btn btn-primary btn-lg" role="button">Login</a>
		</div>
	</div>
</div>