<div class="login-page">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <div>
                <img *ngIf="logo" [src]="logo" width="150px" />
            </div>
            <div *ngIf="!resetPasswordConfirmed" class="form-group">
                <div class="m-t-1 m-b-1 ">
                    <h3>Reset your password</h3>
                </div>
                <form [formGroup]="form" (ngSubmit)="resetPassword()">
                    <div class="row m-t-1 m-b-1">
                        <div class="form-group">
                            <input id="inp-username" autocomplete="username" [formControl]="email" [(ngModel)]="emailStr" type="text" name="username"
                                class="form-control input-underline input-lg" placeholder="Email Address">
                            <small [hidden]="email.valid || (email.pristine && !form.submitted)" class="text-danger">
						        Please enter an email address in the standard format <i>(e.g. abc@gmail.com)</i>
					        </small>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" id="btn-reset-password" class="btn rounded-btn pull-right" [disabled]="email === '' || resetPasswordRequestSubmitted"
                            required>Reset</button>
                        <button type="button" id="btn-back" class="btn rounded-btn pull-left" value="non-default" [routerLink]="['/' + centreName]">Back</button>
                    </div>
                </form>
            </div>
            <div *ngIf="resetPasswordConfirmed" class="m-t-1">
                <span>Password has been reset. Please check your email to complete the password change.</span>
            </div>
        </div>
    </div>
</div>