﻿<div class="row-div">
  <div class="col-sm-9">
    <span>{{ contact.firstName + ' ' + contact.lastName }}</span>
  </div>
  <div class="">
    <button id="inp-edit-contact" class="btn btn-info btn-sm" (click)="editContact(contact.id)">Edit</button>
    <button id="inp-delete-contact" class="btn btn-danger btn-sm" (click)="deleteContact(contact.id)">Delete</button>
  </div>
</div>
