<div class="container-fluid m-b-1">
    <div class="pull-left">
        <h4>Bookings</h4>
    </div>
</div>
<div *ngIf="!centreChildren">
    <spinner-cmp></spinner-cmp>
</div>
<div *ngIf="centreChildren">
    <div class="table-responsive card card-block">
        <table class="table table-hover" id="bookingsTable">
            <thead>
                <tr>
                    <th>Parent</th>
                    <th>Child</th>
                    <th>Age</th>
                    <th>Room</th>
                    <th>Mon</th>
                    <th>Tues</th>
                    <th>Wed</th>
                    <th>Thur</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <template ngFor let-child [ngForOf]="centreChildren" let-childIdx="index">
                    <!-- child has no bookings -->
                    <tr *ngIf="child.permanentBookingList && child.permanentBookingList.length === 0">
                        <td id="parentFullname">
                            <i class="fa fa-user"></i>
                            <a href="Javascript:void(0)" [routerLink]="['../family-enrolment-form/', child.parentId]">&#160;{{child.parentFullname}}</a>
                        </td>
                        <td id="childFullname"><i class="fa fa-user"></i>&#160;{{child.childFullname}}</td>
                        <td id="childAge"><span>{{ getChildAgeYears(child.childAge) }}</span>&#160;<small>Y</small>&#160;&#160;<span>{{ getChildAgeMonths(child.childAge) }}</span>&#160;<small>M</small></td>
                        <td></td>
                        <td id="childStatusMessage" colspan="7" class="text-xs-center">
                            <div>No permanent bookings</div>
                        </td>
                        <td id="childApprovalStatus">
                            <div id="approved">
                                <button id="addBooking" [disabled]='disableAddEdit()' class='btn btn-primary btn-sm btn-block' type='button' (click)='addBooking(child, childIdx, 0)'>Add Booking</button>
                            </div>
                        </td>
                    </tr>
                    <!-- child has bookings -->
                    <template ngFor let-booking [ngForOf]="child.permanentBookingList" let-bookingIdx="index">
                        <tr>
                            <td>
                                <div id="parentFullname" *ngIf="bookingIdx === 0">
                                    <i class="fa fa-user"></i>
                                    <a href="Javascript:void(0)" [routerLink]="['../family-enrolment-form/', child.parentId]">&#160;{{child.parentFullname}}</a>
                                </div>
                            </td>
                            <td>
                                <div id="childFullname" *ngIf="bookingIdx === 0"><i class="fa fa-user"></i>&#160;{{child.childFullname}}</div>
                            </td>
                            <td>
                                <div id="childAge" *ngIf="bookingIdx === 0"><span>{{ getChildAgeYears(child.childAge) }}</span>&#160;<small>Y</small>&#160;&#160;<span>{{ getChildAgeMonths(child.childAge) }}</span>&#160;<small>M</small></div>
                            </td>
                            <td>
                                <div id="roomName" *ngIf="!editMode(childIdx, bookingIdx) || (!addMode() && editMode(childIdx, bookingIdx))">{{getRoomName(booking.roomId)}}</div>
                                <select id="roomSelect" *ngIf="addMode() && editMode(childIdx, bookingIdx)" class="form-control" [(ngModel)]="booking.roomId">
                                    <option *ngFor="let room of rooms" [ngValue]="room.id">{{room.name}}</option>
                                </select>
                            </td>
                            <td>
                                <div *ngIf="editMode(childIdx, bookingIdx)" class="form-group"><input id="mon" type="checkbox" [(ngModel)]="booking.mon"></div>
                                <fieldset *ngIf="!editMode(childIdx, bookingIdx)" disabled>
                                    <div class="form-group"><input id="mon" type="checkbox" [(ngModel)]="booking.mon"></div>
                                </fieldset>
                            </td>
                            <td>
                                <div *ngIf="editMode(childIdx, bookingIdx)" class="form-group"><input id="tue" type="checkbox" [(ngModel)]="booking.tue"></div>
                                <fieldset *ngIf="!editMode(childIdx, bookingIdx)" disabled>
                                    <div class="form-group"><input id="tue" type="checkbox" [(ngModel)]="booking.tue"></div>
                                </fieldset>
                            </td>
                            <td>
                                <div *ngIf="editMode(childIdx, bookingIdx)" class="form-group"><input id="wed" type="checkbox" [(ngModel)]="booking.wed"></div>
                                <fieldset *ngIf="!editMode(childIdx, bookingIdx)" disabled>
                                    <div class="form-group"><input id="wed" type="checkbox" [(ngModel)]="booking.wed"></div>
                                </fieldset>
                            </td>
                            <td>
                                <div *ngIf="editMode(childIdx, bookingIdx)" class="form-group"><input id="thu" type="checkbox" [(ngModel)]="booking.thu"></div>
                                <fieldset *ngIf="!editMode(childIdx, bookingIdx)" disabled>
                                    <div class="form-group"><input id="thu" type="checkbox" [(ngModel)]="booking.thu"></div>
                                </fieldset>
                            </td>
                            <td>
                                <div *ngIf="editMode(childIdx, bookingIdx)" class="form-group"><input id="fri" type="checkbox" [(ngModel)]="booking.fri"></div>
                                <fieldset *ngIf="!editMode(childIdx, bookingIdx)" disabled>
                                    <div class="form-group"><input id="fri" type="checkbox" [(ngModel)]="booking.fri"></div>
                                </fieldset>
                            </td>
                            <td>
                                <div *ngIf="editMode(childIdx, bookingIdx)" class="form-group"><input id="sat" type="checkbox" [(ngModel)]="booking.sat"></div>
                                <fieldset *ngIf="!editMode(childIdx, bookingIdx)" disabled>
                                    <div class="form-group"><input id="sat" type="checkbox" [(ngModel)]="booking.sat"></div>
                                </fieldset>
                            </td>
                            <td>
                                <div *ngIf="editMode(childIdx, bookingIdx)" class="form-group"><input id="sun" type="checkbox" [(ngModel)]="booking.sun"></div>
                                <fieldset *ngIf="!editMode(childIdx, bookingIdx)" disabled>
                                    <div class="form-group"><input id="sun" type="checkbox" [(ngModel)]="booking.sun"></div>
                                </fieldset>
                            </td>
                            <td [ngSwitch]="child.childApprovalStatus">
                                <div>
                                    <button id="editBooking" [disabled]='disableAddEdit()' class="btn btn-info btn-sm btn-block" *ngIf="!editMode(childIdx, bookingIdx)"
                                        (click)='editBooking(childIdx, bookingIdx, booking)'>Edit Booking</button>
                                    <button id="removeBooking" [disabled]='disableAddEdit()' class="btn btn-danger btn-sm btn-block" *ngIf="!editMode(childIdx, bookingIdx)"
                                        (click)='deleteBooking(booking, child)'>Remove Booking</button>
                                    <button id="saveBooking" [disabled]='isInvalidRoom(booking) || disableSave' class="btn btn-success btn-sm btn-block" *ngIf="editMode(childIdx, bookingIdx)"
                                        (click)='updateBooking(booking, child)'>Save</button>
                                    <button id="cancelEditBooking" class="btn btn-danger btn-sm btn-block" *ngIf="editMode(childIdx, bookingIdx)" (click)='cancelEdit(booking, child)'>Cancel</button>
                                </div>
                            </td>
                        </tr>
                    </template>
                    <tr *ngIf="child.permanentBookingList && child.permanentBookingList.length > 0">
                        <td colspan="4"></td>
                        <td colspan="7"><button id="addBooking" [disabled]='disableAddEdit()' class='btn btn-primary btn-sm btn-block' type='button'
                                (click)='addBooking(child, childIdx, 0)'>Add Booking</button></td>
                        <td>
                            <td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</div>