<top-nav></top-nav>
<sidebar-cmp></sidebar-cmp>
<section class="main-container" [ngClass]="{sidebarPushRight: isActive}">
	<div class="container-fluid">
		<router-outlet></router-outlet>
	</div>
</section>