<div class="container-fluid m-b-1">
    <div class="pull-left">
        <h4>Staff</h4>
    </div>
    <div *ngIf="!addMode" class="pull-right">
        <div class="btn-group" dropdown="" ng-reflect-is-open="false">
            <button id="addStaffButton" [disabled]="disableButtons" class="btn btn-primary" type="button" (click)="setAddMode(true)" >
                    Add Staff
                </button>
        </div>
    </div>
</div>
<div *ngIf="!staffMembers">
    <spinner-cmp></spinner-cmp>
</div>
<div id="inviteStaffDiv" *ngIf="addMode">
    <div class="col-lg-6">
        <div class="form-group input-group">
            <span class="input-group-addon">@</span><input id="inpEmail" class="form-control" #email placeholder="Enter Staff Member Email"
                type="text">
        </div>
    </div>
    <div class="col-lg-6 pull-left">
        <button id="cancelInviteButton" [disabled]='disableButtons' class="btn btn-danger" type="button" (click)='setAddMode(false)'>Cancel</button>
        <button id="sendInviteButton" [disabled]='disableButtons' class="btn btn-success" type="button" (click)='inviteStaffMember(email.value)'>Send Invite</button>
    </div>
</div>
<div *ngIf="staffMembers && !addMode">
    <div class="table-responsive card card-block">
        <table id="staffTable" class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email Address</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <template ngFor let-staffMember [ngForOf]="staffMembers" let-staffIdx="index">
                    <tr>
                        <td id="rowNumber">{{staffIdx+1}}</td>
                        <td id="name">{{staffMember.name}}</td>
                        <td id="phone">{{staffMember.phoneNumber}}</td>
                        <td id="email">{{staffMember.emailAddress}}</td>
                        <td id="status">
                            <button id="staffStatusButton" [class]='staffStatusStyle(staffMember.status)' [disabled]='true' type="button">{{staffStatusString(staffMember.status)}}</button>
                            <button id="removeButton" class="btn btn-danger btn-sm btn-block" type="button" [disabled]='disableButtons' (click)='removeStaffMember(staffMember.centreId, staffMember.staffMemberId)'>Remove</button>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</div>