﻿<page-heading-parent-portal-cmp [breadcrumbs]="[
      { link: '../../kid-edit-details/' + kidId, name: '1. Edit Details', selected: false },
      { link: '../../kid-desired-days/' + kidId, name: '2. Desired Days', selected: false },
      { link: '../../kid-health-info/' + kidId, name: '3. Health Information', selected: false },
      { link: '../../kid-custody-info/' + kidId, name: '4. Custody Information', selected: true }
    ]" [pageDisplayName]="'Edit Child'"></page-heading-parent-portal-cmp>
<div class="container-fluid m-b-1">
  <div class="pull-left">
    <h4>Court Orders / Custody</h4>
  </div>
</div>

<div *ngIf="!kidDto">
  <spinner-cmp></spinner-cmp>
</div>
<div class="container-fluid" *ngIf="kidDto">
  <div class="container-fluid">
    <form class="container-fluid" [formGroup]="form" role="form">
      <fieldset class="form-group">
        <fieldset class="form-group">
          <div id="div-jointCustody" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
              <div class="col-sm-12, col-md-6">
                <label>If parents are separated/divorced, is there a legal document specifying who has custody or access to the child?</label>
              </div>
              <div class="col-sm-12, col-md-6">
                <div [style.display]="'inline-block'" class="p-r-3">
                  <input id="inp-jointCustody-no" [(ngModel)]="kidDto.jointCustody" [value]="false" [checked]="kidDto.jointCustody === false"
                    [formControl]="jointCustody" type="radio" name="div-jointCustody">
                  <label for="inp-jointCustody-no">No</label>
                </div>
                <div [style.display]="'inline-block'">
                  <input id="inp-jointCustody-yes" [(ngModel)]="kidDto.jointCustody" [value]="true" [checked]="kidDto.jointCustody === true"
                    [formControl]="jointCustody" type="radio" name="div-jointCustody">
                  <label for="inp-jointCustody-yes">Yes</label>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <div id="div-courtOrderAccessibility" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
              <div class="col-sm-12 col-md-6">
                <label>Are there any court orders, parenting orders or parenting plans relating to the powers, duties and responsibilities or authorities of any person in relation to the child or access to the child?</label>
              </div>
              <div class="col-sm-12 col-md-6">
                <div [style.display]="'inline-block'" class="p-r-3">
                  <input id="inp-courtOrderAccessibility-no" [(ngModel)]="kidDto.courtOrderAccessibility" [value]="false" [checked]="kidDto.courtOrderAccessibility === false"
                    [formControl]="courtOrderAccessibility" type="radio" name="div-courtOrderAccessibility">
                  <label for="inp-courtOrderAccessibility-no">No</label>
                </div>
                <div [style.display]="'inline-block'">
                  <input id="inp-courtOrderAccessibility-yes" [(ngModel)]="kidDto.courtOrderAccessibility" [value]="true" [checked]="kidDto.courtOrderAccessibility === true"
                    [formControl]="courtOrderAccessibility" type="radio" name="div-courtOrderAccessibility">
                  <label for="inp-courtOrderAccessibility-yes">Yes</label>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <div id="div-courtOrderResidence" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
              <div class="col-sm-12 col-md-6">
                <label>Are there any other court orders relating to the child’s residence or the child’s contact with a parent or other person?</label>
              </div>
              <div class="col-sm-12 col-md-6">
                <div [style.display]="'inline-block'" class="p-r-3">
                  <input id="inp-courtOrderResidence-no" [(ngModel)]="kidDto.courtOrderResidence" [value]="false" [checked]="kidDto.courtOrderResidence === false"
                    [formControl]="courtOrderResidence" type="radio" name="div-courtOrderResidence">
                  <label for="inp-courtOrderResidence-no">No</label>
                </div>
                <div [style.display]="'inline-block'">
                  <input id="inp-courtOrderResidence-yes" [(ngModel)]="kidDto.courtOrderResidence" [value]="true" [checked]="kidDto.courtOrderResidence === true"
                    [formControl]="courtOrderResidence" type="radio" name="div-courtOrderResidence">
                  <label for="inp-courtOrderResidence-yes">Yes</label>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </fieldset>
    </form>
  </div>
  <button id="btn-save-centre" type="button" (click)="saveChanges()" [disabled]="!form.valid" class="btn btn-primary">Save and Finish</button>
  <button id="btn-cancel-centre" type="button" (click)="cancelEdit()" class="btn btn-danger">Cancel</button>
</div>