﻿<div class="row-div">
    <div class="col-sm-9">
        <h4>Emergency Contacts</h4>
    </div>
    <div>
        <button id="inp-edit-parent" class="btn btn-primary" (click)="addContact()" [disabled]="contactEnrolments && contactEnrolments.length >= 4">Add a Contact</button>
    </div>
</div>
<div *ngIf="!contactEnrolments">
    <spinner-cmp></spinner-cmp>
</div>
<div *ngIf="contactEnrolments" class="row-div">
    <div *ngFor="let contact of contactEnrolments;">
        <enrolment-single-contact-cmp [contact]="contact" (onDeleteContact)="deleteContact($event)"></enrolment-single-contact-cmp>
    </div>
</div>