﻿<form *ngIf="!userCreated" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="form-group">
        <input id="inp-firstName" [formControl]="firstName" type="text" class="form-control input-underline input-lg" placeholder="First Name">
        <small [hidden]="firstName.valid || (firstName.pristine && !form.submitted)" class="text-danger">
						Your name must be longer than one character.
					</small>
    </div>
    <div class="form-group">
        <input id="inp-lastName" [formControl]="lastName" type="text" class="form-control input-underline input-lg" placeholder="Last Name">
        <small [hidden]="lastName.valid || (lastName.pristine && !form.submitted)" class="text-danger">
 						Your name must be longer than one character.
 					</small>
    </div>
    <div class="form-group">
        <input id="inp-mobilePhone" [formControl]="mobilePhone" type="text" class="form-control input-underline input-lg" placeholder="Mobile Phone">
        <small [hidden]="mobilePhone.valid || (mobilePhone.pristine && !form.submitted)" class="text-danger">
						Mobile Phone is required and format should be <i>04xx xxx xxx</i>.
					</small>
    </div>
    <div class="form-group">
        <input id="email" name="email" value="{{email}}" [readonly]="true" class="form-control input-underline input-lg">
    </div>
    <div class="form-group">
        <input id="inp-password" [formControl]="password" type="password" name="password" class="form-control input-underline input-lg" placeholder="Password">
        <small [hidden]="password.valid || (password.pristine && !form.submitted)" class="text-danger">
						Your password must be at least 8 characters in length, containing letters, one capital letter, one number and one special character.
					</small>
    </div>
    <div class="form-group">
        <input id="inp-confirmPassword" [formControl]="confirmPassword" type="password" class="form-control input-underline input-lg"
            placeholder="Repeat Password">
        <small [hidden]="passwords.valid  || ((password.pristine || confirmPassword.pristine) && !form.submitted)" class="text-danger">
		         		Your password does not match.
		       		</small>
    </div>

    <div>
        <button id="btn-register" type="submit" [disabled]="submitted || !(form.valid)" value="default" class="btn rounded-btn pull-right">Complete Registration</button>
        <button id="btn-back" class="btn rounded-btn pull-left" value="non-default" routerLink="/login">Back</button>
    </div>

</form>

<div id="div-userCreated" *ngIf="userCreated">
    <span>Staff member registered, please click the login button to login to MiCare.</span><br>
    <button id="btn-login" class="btn rounded-btn" value="non-default" routerLink="/login">Login</button>
</div>