<div class="login-page">
	<div class="row">
	 <div class="col-lg-4 col-lg-offset-4">
      <img src="assets/img/MICARE_GLOBAL_ALTERNATIVE_WHITE.png" width="350px" />
			<h1>Every moment counts</h1>
			<h3>Register</h3>
			<signup-form-cmp></signup-form-cmp>
		</div>
	</div>

</div>
