<div class="login-page">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <div>
                <img *ngIf="logo" [src]="logo" width="150px" />
            </div>
            <div *ngIf="!verificationCompleted">
                <h1>Activating your account...</h1>
            </div>
            <div *ngIf="verificationCompleted">
                <h1>You have activated your account!</h1>

                <p>Please login to continue the enrolment process.</p>
                <a id="btn-login" class="btn btn-primary btn-lg" [routerLink]="['/parent-login', centreName]">Login</a>
            </div>
        </div>
    </div>
</div>