<div *ngIf="completeEnrolmentForm" class="print-header">
    <img [src]="logo" width="150px" />
    <h3>
        {{ centreName }}
    </h3>
</div>

<page-heading-cmp [pageDisplayName]="'Enrolment Form'"></page-heading-cmp>
<div *ngIf="!completeEnrolmentForm">
    <spinner-cmp></spinner-cmp>
</div>
<div *ngIf="completeEnrolmentForm">
    <div class="container-fluid m-b-1">
        <div class="pull-right">
            <button class="btn btn-primary print" (click)="print()">Print</button>
        </div>
    </div>
    <div>
        <accordion>
            <accordion-group #group>
                <div accordion-heading>
                    <span>Primary Guardian</span>
                    <i class="pull-right fa" [ngClass]="{'fa-minus-circle': group?.isOpen, 'fa-plus-circle': !group?.isOpen}"></i>
                </div>
                <parent-view-cmp [parent]="completeEnrolmentForm.parent"></parent-view-cmp>
            </accordion-group>
            <footer></footer>
            <accordion-group #groupOne>
                <div accordion-heading>
                    <span>Children</span>
                    <i class="pull-right fa" [ngClass]="{'fa-minus-circle': groupOne?.isOpen, 'fa-plus-circle': !groupOne?.isOpen}"></i>
                </div>
                <div *ngFor="let child of completeEnrolmentForm.children">
                    <child-view-cmp [child]="child"></child-view-cmp>
                </div>
            </accordion-group>
            <footer></footer>
            <accordion-group #groupTwo>
                <div accordion-heading>
                    <span>Guardians</span>
                    <i class="pull-right fa" [ngClass]="{'fa-minus-circle': groupTwo?.isOpen, 'fa-plus-circle': !groupTwo?.isOpen}"></i>
                </div>
                <div *ngFor="let guardian of completeEnrolmentForm.guardians">
                    <guardian-view-cmp [guardian]="guardian"></guardian-view-cmp>
                </div>
            </accordion-group>
            <footer></footer>
            <accordion-group #groupThree>
                <div accordion-heading>
                    <span>Emergency Contacts</span>
                    <i class="pull-right fa" [ngClass]="{'fa-minus-circle': groupThree?.isOpen, 'fa-plus-circle': !groupThree?.isOpen}"></i>
                </div>
                <div *ngFor="let contact of completeEnrolmentForm.contacts">
                    <contact-view-cmp [contact]="contact"></contact-view-cmp>
                </div>
            </accordion-group>
            <footer></footer>
            <accordion-group #groupFour>
                <div accordion-heading>
                    <span>Declaration & Consent</span>
                    <i class="pull-right fa" [ngClass]="{'fa-minus-circle': groupFour?.isOpen, 'fa-plus-circle': !groupFour?.isOpen}"></i>
                </div>
                <consent-view-cmp [consent]="completeEnrolmentForm.enrolmentForm"></consent-view-cmp>
            </accordion-group>
        </accordion>
    </div>
</div>