﻿<page-heading-parent-portal-cmp [breadcrumbs]="[{ link: '../enrolment-form', name: 'Enrolment Form' }]" [pageDisplayName]="'Edit Guardian'"></page-heading-parent-portal-cmp>
<div class="container-fluid m-b-1">
  <div class="pull-left">
    <h4>Additional Guardian</h4>
  </div>
</div>

<div *ngIf="!guardianDto">
  <spinner-cmp></spinner-cmp>
</div>
<div *ngIf="guardianDto">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" role="form">
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Title</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <select id="inp-title" [(ngModel)]="guardianDto.title" [formControl]="title" class="form-control">
          <option [selected]="guardianDto.title === null || guardianDto.title === undefined || guardianDto === 0">Please Select</option>
          <option *ngFor="let title of titles" [hidden]="title.value === '0'" [value]="title.value">{{ title.title }}</option>
        </select>
        <small [hidden]="title.valid || title.untouched" class="text-danger">Title is required</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>First Name *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-firstName" [(ngModel)]="guardianDto.firstName" [formControl]="firstname" type="text" class="form-control"
          placeholder="(e.g. Terry)">
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Surname *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-lastName" [(ngModel)]="guardianDto.lastName" [formControl]="lastname" type="text" class="form-control" placeholder="(e.g. Smith)">
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Mobile</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-mobile" [(ngModel)]="guardianDto.mobile" [formControl]="mobile" type="text" class="form-control" placeholder="(e.g. 0411 222 333)">
        <small [hidden]="mobile.valid || mobile.untouched" class="text-danger">Mobile Phone must consist of maximum 10 digits</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Home Phone</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-homePhone" [(ngModel)]="guardianDto.home" [formControl]="homePhone" type="text" class="form-control" placeholder="(e.g. 07 5432 8765)">
        <small [hidden]="homePhone.valid || homePhone.untouched" class="text-danger">Home Phone must consist of maximum 10 digits</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Email</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-email" [(ngModel)]="guardianDto.email" [formControl]="email" type="text" class="form-control" placeholder="(e.g. you@email.com)">
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Work Phone</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-workPhone" [(ngModel)]="guardianDto.work" [formControl]="workPhone" type="text" class="form-control" placeholder="(e.g. 07 5445 9476)">
        <small [hidden]="workPhone.valid || workPhone.untouched" class="text-danger">Work Phone must consist of maximum 10 digits</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Gender</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <select id="inp-gender" [(ngModel)]="guardianDto.gender" [formControl]="gender" class="form-control">
          <option [selected]="guardianDto.gender === null || guardianDto.gender === undefined || guardianDto.gender === 0">Please Select</option>
          <option *ngFor="let gender of genders" [value]="gender.value" [hidden]="gender.value === '0'">{{ gender.title }}</option>
        </select>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Date of Birth</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4 width-inherit">
        <input id="inp-dateOfBirth" [(ngModel)]="guardianDto.dob" [formControl]="dateOfBirth" type="date" [max]="maxDateOfBirth"
          class="form-control" useValueAsDate>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Nationality</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-nationality" [(ngModel)]="guardianDto.nationality" [formControl]="nationality" type="text" class="form-control"
          placeholder="(e.g. Australian)">
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Relationship To Child *</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <select id="inp-relationship" [(ngModel)]="guardianDto.relationshipToFamily" [formControl]="relationship" class="form-control">
          <option [selected]="guardianDto.relationshipToFamily === null || guardianDto.relationshipToFamily === undefined">Please Select</option>
          <option *ngFor="let optionEntry of relationshipOptions" [value]="optionEntry.value">{{optionEntry.title}}</option>
        </select>
        <small [hidden]="relationship.valid || relationship.untouched" class="text-danger">Relationship to child required</small>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Street Address</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-streetAddress" [(ngModel)]="guardianDto.address" [formControl]="streetAddress" type="text" class="form-control"
          placeholder="(e.g. 3/60 Queen St)">
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>Suburb</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <input id="inp-suburb" [(ngModel)]="guardianDto.suburb" [formControl]="suburb" type="text" class="form-control" placeholder="(e.g. Brisbane)">
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>PostCode</label>
      </div>
      <div class="col-sm-4, col-md-4, col-lg-4, col-xl-4">
        <input id="inp-postcode" [(ngModel)]="guardianDto.postcode" [formControl]="postcode" type="text" class="form-control" placeholder="(e.g. 4000)">
      </div>
    </fieldset>

    <fieldset class="form-group">
      <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
        <label>State</label>
      </div>
      <div class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
        <select id="inp-state" [(ngModel)]="guardianDto.state" [formControl]="state" class="form-control">
          <option [selected]="guardianDto.state === null || guardianDto.state === undefined">Please Select</option>
          <option>Queensland</option>
          <option>New South Wales</option>
          <option>Victoria</option>
          <option>Australian Capital Territory</option>
          <option>Northern Territory</option>
          <option>Western Australia</option>
          <option>South Australia</option>
          <option>Tasmania</option>
        </select>
      </div>
    </fieldset>

    <button id="btn-save-centre" type="button" (click)="saveChanges()" [disabled]="!form.valid" class="btn btn-primary">Save</button>
    <button id="btn-cancel-centre" type="button" (click)="cancelEdit()" class="btn btn-danger">Cancel</button>
  </form>
</div>