﻿<button class="btn btn-default" id="toggle-sidebar" type="button" (click)="eventCalled()">
    &#9776;
</button>
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a [routerLink]="['centre-dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i> Dashboard
        </a>
        <a [routerLink]="['centre']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i> Centre
        </a>
        <a [routerLink]="['rooms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-thumb-tack"></i> Rooms
        </a>
        <a [routerLink]="['shutdowndays']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-calendar"></i> Shutdown Days
        </a>
        <a [routerLink]="['staff']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-users"></i> Staff
        </a>
        <a [routerLink]="['bookings']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-address-card-o"></i> Bookings
        </a>
        <a [routerLink]="['swaps']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-retweet"></i> Swaps
        </a>
        <a [routerLink]="['vacancies']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-child"></i> Vacancies*
        </a>
        <a *ngIf="enrolmentFeatureEnabled === true" [routerLink]="['enrolment']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-street-view"></i> Enrolment*
        </a>
        <a [routerLink]="['enrolment-approvals']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-check"></i> Approvals*
        </a>
        <hr />
        <a [routerLink]="['admin-dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item" [hidden]="!isSysAdmin">
            <i class="fa fa-fw fa-lock"></i> Admin Dashboard
        </a>
        <a [routerLink]="['companies']" [routerLinkActive]="['router-link-active']" class="list-group-item" [hidden]="!isSysAdmin">
          <i class="fa fa-fw fa-university"></i> Companies
        </a>
        <a [routerLink]="['admin-approvals']" [routerLinkActive]="['router-link-active']" class="list-group-item" [hidden]="!isSysAdmin">
            <i class="fa fa-fw fa-lock"></i> Admin Approvals
        </a>
        <a [routerLink]="['/hangfireui']" [routerLinkActive]="['router-link-active']" class="list-group-item" [hidden]="!isSysAdmin">
            <i class="fa fa-fw fa-lock"></i> Admin Hangfire
        </a>
        <a [routerLink]="['/swaggerui']" [routerLinkActive]="['router-link-active']" class="list-group-item" [hidden]="!isSysAdmin">
            <i class="fa fa-fw fa-lock"></i> Admin Swagger
        </a>
        <a [routerLink]="['tools']" [routerLinkActive]="['router-link-active']" class="list-group-item" [hidden]="!isSysAdmin">
            <i class="fa fa-fw fa-lock"></i> Tools
        </a>
    </ul>
</nav>
