﻿<button class="btn btn-default" id="toggle-sidebar" type="button" (click)="eventCalled()">
    &#9776;
</button>
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a [routerLink]="['enrolment/enrolment-form']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-street-view"></i> Enrolments
        </a>
    </ul>
</nav>