﻿<div class="login-page">
	<div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 col-xl-6 col-xl-offset-3">
		<div>
			<img src="assets/img/MICARE_GLOBAL_ALTERNATIVE_WHITE.png" width="350px" />
			<h1>Every moment counts</h1>
		</div>
		<div class="p-t-1">
			<h3>Centre Staff</h3>
			<h6>Please login here:</h6>
			<login-form-cmp></login-form-cmp>
		</div>
		<div class="p-t-2">
			<hr />
		</div>
		<div>
			<h3>Parents</h3>
			<h6>Please contact your childcare provider, or install the app to continue:</h6>
			<div>
				<div id="link-ios" class="display-inline">
					<a class="vertical-align " alt="Get it on the App Store" href="https://itunes.apple.com/au/app/miswap/id1149111968?mt=8" style="display:inline-block;overflow:hidden;
							background:url(//linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat;width:135px;height:40px;background-size:contain;"></a>
				</div>
				<div id="link-android" class="display-inline">
					<a href="https://play.google.com/store/apps/details?id=mi.swap.droid">
						<img alt="Get it on Google Play" style="height: 40px;" src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
					</a>
					
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="display-inline">
			<a class="document-links" href="https://www.micareglobal.com/docs/MiCareGlobal_Privacy_Policy.pdf" >Privacy Policy</a>
		</div>
		<div class="display-inline">
			<span class="document-links">|</span>
		</div>
		<div class="display-inline">
			<a class="document-links" href="https://www.micareglobal.com/docs/MiCareGlobal_MiSwap_Terms_and_Conditions.pdf" >Terms and Conditions</a>
		</div>
	</div>
</div>
