﻿<page-heading-parent-portal-cmp [breadcrumbs]="[
      { link: '../../kid-edit-details/' + kidId, name: '1. Edit Details', selected: false },
      { link: '../../kid-desired-days/' + kidId, name: '2. Desired Days', selected: true },
      { link: '../../kid-health-info/' + kidId, name: '3. Health Information', selected: false },
      { link: '../../kid-custody-info/' + kidId, name: '4. Custody Information', selected: false }
    ]" [pageDisplayName]="'Edit Child'"></page-heading-parent-portal-cmp>
<div class="container-fluid m-b-1">
    <div class="pull-left">
        <h4>Desired Days</h4>
    </div>
</div>

<div *ngIf="!desiredDays">
    <spinner-cmp></spinner-cmp>
</div>
<div *ngIf="desiredDays">
    <ng2-smart-table [displayHeader]="''" [settings]="settings" [source]="source" (createConfirm)="addDesiredDays($event)" (editConfirm)="editDesiredDays($event)"
        (deleteConfirm)="removeDesiredDays($event)"></ng2-smart-table>
</div>

<div>
    <button id="btn-continue-centre" type="button" (click)="continue()" class="btn btn-primary">Continue</button>
    <button id="btn-cancel-centre" type="button" (click)="cancelEdit()" class="btn btn-danger">Cancel</button>
</div>