<nav class="navbar navbar-light bg-inverse navbar-fixed-top topnav">
    <div class="collapse navbar-toggleable-xs clearfix text-center">
        <div class="col-xs-4 col-md-3 col-lg-2">
            <a class="navbar-brand" [routerLink]="['/']" alt="MiCare"><img src="assets/img/MICARE_GLOBAL_ALTERNATIVE.png" width="100px"></a>
        </div>
        <div class="col-xs-8 col-md-3">
            <div *ngIf="!isSysAdmin">
                <select [hidden]="centres?.length <= 1" class="form-control" id="selectCentre" [(ngModel)]="selectedCentre" (ngModelChange)="selectCentre($event)">
                <option *ngFor="let centre of centres" [ngValue]="centre" [selected]="centre.id === selectedCentre.id">{{ centre.name }}</option>
            </select>
            </div>
            <div *ngIf="isSysAdmin">
                <input [(ngModel)]="searchCentre" [typeahead]="dataSource" [typeaheadAsync]="true" (typeaheadOnSelect)="typeaheadOnSelect($event)"
                    [typeaheadMinLength]="0" typeaheadOptionField="name" placeholder="Search Centres" class="form-control">
                <div *ngIf="typeaheadLoading===true">
                    <i class="glyphicon glyphicon-refresh ng-hide"></i>
                </div>
                <div *ngIf="typeaheadNoResults===true" class="">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
            </div>
        </div>
        <div class="col-md-offset-4 col-md-2 col-lg-3">
            <ul class="nav navbar-nav top-nav navbar-right pull-xs-right top-right-nav">
                <li class="dropdown nav-item" dropdown>
                    <a href="javascript:;" id="single-button" class="nav-link dropdown-toggle" dropdownToggle>
                        <i class="fa fa-user fa-2x"></i><b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="single-button">
                        <li>
                            <a id="btn-logout" class="dropdown-item" href="javascript:;" [routerLink]="['../logout']">
                                <i class="fa fa-fw fa-power-off"></i> Log Out
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>