<fieldset class="form-group">
    <div class="m-b-1">
        <h5>Medical Cards & Services</h5>
    </div>
    <fieldset class="form-group">
        <div class="col-sm-12, col-md-10">
            <div class="row m-b-1">
                <div class="col-sm-12, col-md-6">
                    <div>
                        <label>Doctor / Medical Services: {{ healthInfo.medicalServicesName }}</label>
                    </div>
                </div>
                <div class="col-sm-12, col-md-6">
                    <div>
                        <label>Phone Number: {{ healthInfo.medicalServicesContactNumber }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12, col-md-10">
            <div class="row m-b-1">
                <div class="col-sm-12, col-md-6">
                    <div>
                        <label>Medicare Number: {{ healthInfo.medicareNumber }}</label>
                    </div>
                </div>
                <div class="col-sm-12, col-md-6">
                    <div class="">
                        <label>Expiry Date: {{ healthInfo.medicareExpiryDate | date: 'shortDate' }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12, col-md-10">
            <div class="row m-b-1">
                <div class="col-sm-12, col-md-6">
                    <div>
                        <label>Healthcare Card Number: {{ healthInfo.healthcareCardNumber }}</label>
                    </div>
                </div>
                <div class="col-sm-12, col-md-6">
                    <div class="">
                        <label>Expiry Date: {{ healthInfo.healthcareCardExpiryDate | date: 'shortDate' }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12, col-md-10">
            <div class="row m-b-1">
                <div class="col-sm-12, col-md-6">
                    <div>
                        <label>Private Health Insurer: {{ healthInfo.privateHealthInsurer }}</label>
                    </div>
                </div>
                <div class="col-sm-12, col-md-6">
                    <div>
                        <label>Membership Number: {{ healthInfo.privateHealthMembershipNumber }}</label>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</fieldset>

<fieldset class="form-group">
    <fieldset class="form-group">
        <div class="m-b-1">
            <h5>Allergies</h5>
        </div>
        <div id="div-allergies-{{ healthInfo.kidId }}" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
                <div class="col-sm-12, col-md-6">
                    <label>Does this child have any allergies / sensitivity that is relevant to the care of your child?</label>
                </div>
                <div class="col-sm-12, col-md-6">
                    <div [style.display]="'inline-block'" class="p-r-3">
                        <input [checked]="healthInfo.hasAllergies === false" type="radio" name="div-allergies-{{ healthInfo.kidId }}" disabled>
                        <label>No</label>
                    </div>
                    <div [style.display]="'inline-block'">
                        <input [checked]="healthInfo.hasAllergies === true" type="radio" name="div-allergies-{{ healthInfo.kidId }}" disabled>
                        <label>Yes</label>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <div class="m-b-1">
            <h5>Anaphylaxis</h5>
        </div>
        <div id="div-anaphylaxis-{{ healthInfo.kidId }}" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
                <div class="col-sm-12 col-md-6">
                    <label>Has this child been diagnosed at risk of anaphylaxis?</label>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div [style.display]="'inline-block'" class="p-r-3">
                        <input [checked]="healthInfo.hasAnaphylaxis === false" type="radio" name="div-anaphylaxis-{{ healthInfo.kidId }}" disabled>
                        <label>No</label>
                    </div>
                    <div [style.display]="'inline-block'">
                        <input [checked]="healthInfo.hasAnaphylaxis === true" type="radio" name="div-anaphylaxis-{{ healthInfo.kidId }}" disabled>
                        <label>Yes</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="div-injectorDevice-{{ healthInfo.kidId }}" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
                <div class="col-sm-12 col-md-6">
                    <label>Does this child have an auto injection device? (e.g. EpiPen)</label>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div [style.display]="'inline-block'" class="p-r-3">
                        <input [checked]="healthInfo.hasInjectionDevice === false" type="radio" name="div-injectorDevice-{{ healthInfo.kidId }}" disabled>
                        <label>No</label>
                    </div>
                    <div [style.display]="'inline-block'">
                        <input [checked]="healthInfo.hasInjectionDevice === true" type="radio" name="div-injectorDevice-{{ healthInfo.kidId }}" disabled>
                        <label>Yes</label>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <div class="m-b-1">
            <h5>Asthma</h5>
        </div>
        <div id="div-asthma-{{ healthInfo.kidId }}" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
                <div class="col-sm-12 col-md-6">
                    <label>Has this child been diagnosed with asthma?</label>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div [style.display]="'inline-block'" class="p-r-3">
                        <input [checked]="healthInfo.hasAsthma === false" type="radio" name="div-asthma-{{ healthInfo.kidId }}" disabled>
                        <label>No</label>
                    </div>
                    <div [style.display]="'inline-block'">
                        <input [checked]="healthInfo.hasAsthma === true" type="radio" name="div-asthma-{{ healthInfo.kidId }}" disabled>
                        <label>Yes</label>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <div class="m-b-1">
            <h5>Immunisation</h5>
        </div>
        <div id="div-immunisation-{{ healthInfo.kidId }}" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
                <div class="col-sm-12 col-md-6">
                    <label>Has this child been immunised?</label>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div [style.display]="'inline-block'" class="p-r-3">
                        <input [checked]="healthInfo.isImmunised === false" type="radio" name="div-immunisation-{{ healthInfo.kidId }}" disabled>
                        <label>No</label>
                    </div>
                    <div [style.display]="'inline-block'">
                        <input [checked]="healthInfo.isImmunised === true" type="radio" name="div-immunisation-{{ healthInfo.kidId }}" disabled>
                        <label>Yes</label>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <div class="m-b-1">
            <h5>Special Needs</h5>
        </div>
        <div id="div-special-needs-{{ healthInfo.kidId }}" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
                <div class="col-sm-12 col-md-6">
                    <label>Does this child have any additional needs including intellectual, sensory or physical impairment or any special needs?</label>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div [style.display]="'inline-block'" class="p-r-3">
                        <input [checked]="healthInfo.hasSpecialNeeds === false" type="radio" name="div-special-needs-{{ healthInfo.kidId }}" disabled>
                        <label>No</label>
                    </div>
                    <div [style.display]="'inline-block'">
                        <input [checked]="healthInfo.hasSpecialNeeds === true" type="radio" name="div-special-needs-{{ healthInfo.kidId }}" disabled>
                        <label>Yes</label>
                    </div>
                </div>
            </div>
        </div>

        <div id="div-special-needs-services" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
                <div class="col-sm-12 col-md-6">
                    <label>Is the child attending and / or receiving any support services for their additional needs?</label>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div [style.display]="'inline-block'" class="p-r-3">
                        <input [checked]="healthInfo.hasSupportServices === false" type="radio" name="div-special-needs-services-{{ healthInfo.kidId }}" disabled>
                        <label>No</label>
                    </div>
                    <div [style.display]="'inline-block'">
                        <input [checked]="healthInfo.hasSupportServices === true" type="radio" name="div-special-needs-services-{{ healthInfo.kidId }}" disabled>
                        <label for="inp-hasSupportServices-yes">Yes</label>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</fieldset>

<fieldset class="form-group">
    <div class="m-b-1">
        <h5>Other Medical Conditions</h5>
    </div>
    <fieldset class="form-group">
        <div class="col-sm-12, col-md-6">
            <label>Other medical conditions this child may have:</label>
        </div>
        <div class="col-sm-12 col-md-10">
            <div class="m-b-1">
                <div class="col-sm-12 col-md-4">
                    <div class="">
                        <span>1. {{ healthInfo.medicalCondition1 }}</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="">
                        <span>2. {{ healthInfo.medicalCondition2 }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-10">
            <div class="col-sm-12 col-md-4">
                <div class="">
                    <span>3. {{ healthInfo.medicalCondition3 }}</span>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="">
                    <span>4. {{ healthInfo.medicalCondition4 }}</span>
                </div>
            </div>
        </div>
    </fieldset>
</fieldset>

<fieldset class="form-group">
    <div class="m-b-1">
        <h5>Other Requirements</h5>
    </div>
    <fieldset class="form-group">
        <div class="col-sm-12 col-md-2">
            <label>Dietary Needs:</label>
        </div>
        <div class="col-sm-12 col-md-4">
            <span>{{ healthInfo.dietaryNeeds }}</span>
        </div>
    </fieldset>
    <fieldset class="form-group">
        <div class="col-sm-12 col-md-2">
            <label>Dental Needs</label>
        </div>
        <div class="col-sm-12 col-md-4">
            <span>{{ healthInfo.dentalNeeds }}</span>
        </div>
    </fieldset>
</fieldset>

<fieldset class="form-group">
    <div class="m-b-1">
        <h5>Declaration & Consent to Medical Treatment</h5>
    </div>
    <div class="m-b-1">
        <span>I, {{ healthInfo.consentFullName }}, am a person with lawful authority / parent responsibility of the child referred to in this enrolment form:</span>
    </div>

    <fieldset class="form-group">
        <div id="div-consentToAccuracy-{{ healthInfo.kidId }}" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
                <div class="col-sm-12 col-md-6">
                    <label>Declare that the information in this enrolment form is true and correct and undertake to immediately inform the Education and Care Service in the event of a change to this information</label>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div [style.display]="'inline-block'" class="p-r-3">
                        <input [checked]="healthInfo.consentToAccuracy === false" type="radio" name="div-consentToAccuracy-{{ healthInfo.kidId }}" disabled>
                        <label>No</label>
                    </div>
                    <div [style.display]="'inline-block'">
                        <input [checked]="healthInfo.consentToAccuracy === true" type="radio" name="div-consentToAccuracy-{{ healthInfo.kidId }}" disabled>
                        <label>Yes</label>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <div id="div-consentToCollection-{{ healthInfo.kidId }}" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
                <div class="col-sm-12 col-md-6">
                    <label>Agree to collect or make arrangements for the collection of the child referred to in this enrolment form if she/he becomes unwell at the Education and Care Service</label>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div [style.display]="'inline-block'" class="p-r-3">
                        <input [checked]="healthInfo.consentToCollection === false" type="radio" name="div-consentToCollection-{{ healthInfo.kidId }}" disabled>
                        <label>No</label>
                    </div>
                    <div [style.display]="'inline-block'">
                        <input [checked]="healthInfo.consentToCollection === true" type="radio" name="div-consentToCollection-{{ healthInfo.kidId }}" disabled>
                        <label>Yes</label>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <div id="div-consentToTreatment-{{ healthInfo.kidId }}" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
                <div class="col-sm-12 col-md-6">
                    <label>Consent to the staff of the Early Learning Service seek, or where appropriate, administering such emergency medical treatment including from a medical practitioner, hospital or ambulance, emergency dental treatment as is reasonable or necessary; including transportation by ambulance</label>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div [style.display]="'inline-block'" class="p-r-3">
                        <input [checked]="healthInfo.consentToTreatment === false" type="radio" name="div-consentToTreatment-{{ healthInfo.kidId }}" disabled>
                        <label>No</label>
                    </div>
                    <div [style.display]="'inline-block'">
                        <input [checked]="healthInfo.consentToTreatment === true" type="radio" name="div-consentToTreatment-{{ healthInfo.kidId }}" disabled>
                        <label>Yes</label>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <div id="div-contentToCost-{{ healthInfo.kidId }}" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
                <div class="col-sm-12 col-md-6">
                    <label>Declare that I will reimburse any necessary expenses incurred by the service</label>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div [style.display]="'inline-block'" class="p-r-3">
                        <input [checked]="healthInfo.contentToCost === false" type="radio" name="div-contentToCost-{{ healthInfo.kidId }}" disabled>
                        <label>No</label>
                    </div>
                    <div [style.display]="'inline-block'">
                        <input [checked]="healthInfo.contentToCost === true" type="radio" name="div-contentToCost-{{ healthInfo.kidId }}" disabled>
                        <label>Yes</label>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</fieldset>