<div class="row-div">
    <div class="col-sm-9">
        <h4>Children</h4>
    </div>
    <div>
        <button id="inp-add-kid" class="btn btn-primary" (click)="addKid()">Add a Child</button>
    </div>
</div>
<div *ngIf="!kids">
    <spinner-cmp></spinner-cmp>
</div>
<div *ngIf="kids" class="row-div">
    <div *ngFor="let kid of kids;">
        <enrolment-single-kid-cmp [kid]="kid" (onDeleteKid)="deleteKid($event)" (onRequestApproval)="requestEnrolmentApproval($event)"></enrolment-single-kid-cmp>
    </div>
</div>