﻿<page-heading-parent-portal-cmp [breadcrumbs]="[
      { link: '../../kid-edit-details/' + kidId, name: '1. Edit Details', selected: false },
      { link: '../../kid-desired-days/' + kidId, name: '2. Desired Days', selected: false },
      { link: '../../kid-health-info/' + kidId, name: '3. Health Information', selected: true },
      { link: '../../kid-custody-info/' + kidId, name: '4. Custody Information', selected: false }
    ]" [pageDisplayName]="'Edit Child'"></page-heading-parent-portal-cmp>
<div class="container-fluid m-b-1">
  <div class="pull-left">
    <h4>Health Information</h4>
  </div>
</div>

<div *ngIf="!kidDto">
  <spinner-cmp></spinner-cmp>
</div>
<div class="container-fluid" *ngIf="kidDto">
  <div class="container-fluid">
    <form class="container-fluid" [formGroup]="form" role="form">

      <fieldset class="form-group">
        <div class="m-b-1">
          <h5>Medical Cards & Services</h5>
        </div>
        <fieldset class="form-group">
          <div class="col-sm-12, col-md-10">
            <div class="row m-b-1">
              <div class="col-sm-12, col-md-6">
                <div>
                  <label>Doctor / Medical Services</label>
                </div>
                <div class="">
                  <input id="inp-medicalServicesName" [(ngModel)]="kidDto.medicalServicesName" [formControl]="medicalServicesName" type="text"
                    class="form-control" placeholder="(e.g. Dr. Nigel Morris)">
                  <small [hidden]="medicalServicesName.valid || medicalServicesName.untouched" class="text-danger">Must consist of maximum 100 charachters</small>
                </div>
              </div>
              <div class="col-sm-12, col-md-6">
                <div>
                  <label>Phone Number</label>
                </div>
                <div>
                  <input id="inp-medicalServicesContactNumber" [(ngModel)]="kidDto.medicalServicesContactNumber" [formControl]="medicalServicesContactNumber"
                    type="text" class="form-control" placeholder="(e.g. 02 1234 5555)">
                  <small [hidden]="medicalServicesContactNumber.valid || medicalServicesContactNumber.untouched" class="text-danger">Must consist of maximum 50 charachters</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12, col-md-10">
            <div class="row m-b-1">
              <div class="col-sm-12, col-md-6">
                <div>
                  <label>Medicare Number</label>
                </div>
                <div class="">
                  <input id="inp-medicareNumber" [(ngModel)]="kidDto.medicareNumber" [formControl]="medicareNumber" type="text" class="form-control"
                    placeholder="(e.g. 1234 56789 0)">
                  <small [hidden]="medicareNumber.valid || medicareNumber.untouched" class="text-danger">Must consist of maximum 50 charachters</small>
                </div>
              </div>
              <div class="col-sm-12, col-md-6">
                <div class="">
                  <label>Expiry Date <small>(hint: use month name or number)</small></label>
                </div>
                <div class="">
                  <input id="inp-medicareExpiryDate" [(ngModel)]="kidDto.medicareExpiryDate" [formControl]="medicareExpiryDate" type="month"
                    class="form-control" placeholder="(e.g. 01/2020)" useValueAsDate>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12, col-md-10">
            <div class="row m-b-1">
              <div class="col-sm-12, col-md-6">
                <div>
                  <label>Healthcare Card Number</label>
                </div>
                <div>
                  <input id="inp-healthcareCardNumber" [(ngModel)]="kidDto.healthcareCardNumber" [formControl]="healthcareCardNumber" type="text"
                    class="form-control" placeholder="(e.g. 1234 56789 0)">
                  <small [hidden]="healthcareCardNumber.valid || healthcareCardNumber.untouched" class="text-danger">Must consist of maximum 50 charachters</small>
                </div>
              </div>
              <div class="col-sm-12, col-md-6">
                <div class="">
                  <label>Expiry Date <small>(hint: use month name or number)</small></label>
                </div>
                <div class="">
                  <input id="inp-healthcareCardExpiryDate" [(ngModel)]="kidDto.healthcareCardExpiryDate" [formControl]="healthcareCardExpiryDate"
                    type="month" class="form-control" placeholder="(e.g. 01/2020)" useValueAsDate>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12, col-md-10">
            <div class="row m-b-1">
              <div class="col-sm-12, col-md-6">
                <div>
                  <label>Private Health Insurer</label>
                </div>
                <div>
                  <input id="inp-privateHealthInsurer" [(ngModel)]="kidDto.privateHealthInsurer" [formControl]="privateHealthInsurer" type="text"
                    class="form-control" placeholder="(e.g. Medibank)">
                  <small [hidden]="privateHealthInsurer.valid || privateHealthInsurer.untouched" class="text-danger">Must consist of maximum 100 charachters</small>
                </div>
              </div>
              <div class="col-sm-12, col-md-6">
                <div>
                  <label>Membership Number</label>
                </div>
                <div class="">
                  <input id="inp-privateHealthMembershipNumber" [(ngModel)]="kidDto.privateHealthMembershipNumber" [formControl]="privateHealthMembershipNumber"
                    type="text" class="form-control" placeholder="(e.g. 12345678M)">
                  <small [hidden]="privateHealthMembershipNumber.valid || privateHealthMembershipNumber.untouched" class="text-danger">Must consist of maximum 100 charachters</small>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </fieldset>

      <fieldset class="form-group">
        <fieldset class="form-group">
          <div class="m-b-1">
            <h5>Allergies</h5>
          </div>
          <div id="div-allergies" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
              <div class="col-sm-12, col-md-6">
                <label>Does this child have any allergies / sensitivity that is relevant to the care of your child?</label>
              </div>
              <div class="col-sm-12, col-md-6">
                <div [style.display]="'inline-block'" class="p-r-3">
                  <input id="inp-hasAllergies-no" [(ngModel)]="kidDto.hasAllergies" [value]="false" [checked]="kidDto.hasAllergies === false"
                    [formControl]="hasAllergies" type="radio" name="div-allergies">
                  <label for="inp-hasAllergies-no">No</label>
                </div>
                <div [style.display]="'inline-block'">
                  <input id="inp-hasAllergies-yes" [(ngModel)]="kidDto.hasAllergies" [value]="true" [checked]="kidDto.hasAllergies === true"
                    [formControl]="hasAllergies" type="radio" name="div-allergies">
                  <label for="inp-hasAllergies-yes">Yes</label>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <div class="m-b-1">
            <h5>Anaphylaxis</h5>
          </div>
          <div id="div-anaphylaxis" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
              <div class="col-sm-12 col-md-6">
                <label>Has this child been diagnosed at risk of anaphylaxis?</label>
              </div>
              <div class="col-sm-12 col-md-6">
                <div [style.display]="'inline-block'" class="p-r-3">
                  <input id="inp-hasAnaphylaxis-no" [(ngModel)]="kidDto.hasAnaphylaxis" [value]="false" [checked]="kidDto.hasAnaphylaxis === false"
                    [formControl]="hasAnaphylaxis" type="radio" name="div-anaphylaxis">
                  <label for="inp-hasAnaphylaxis-no">No</label>
                </div>
                <div [style.display]="'inline-block'">
                  <input id="inp-hasAnaphylaxis-yes" [(ngModel)]="kidDto.hasAnaphylaxis" [value]="true" [checked]="kidDto.hasAnaphylaxis === true"
                    [formControl]="hasAnaphylaxis" type="radio" name="div-anaphylaxis">
                  <label for="inp-hasAnaphylaxis-yes">Yes</label>
                </div>
              </div>
            </div>
          </div>
          <div id="div-injectorDevice" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
              <div class="col-sm-12 col-md-6">
                <label>Does this child have an auto injection device? (e.g. EpiPen)</label>
              </div>
              <div class="col-sm-12 col-md-6">
                <div [style.display]="'inline-block'" class="p-r-3">
                  <input id="inp-hasInjectionDevice-no" [(ngModel)]="kidDto.hasInjectionDevice" [value]="false" [checked]="kidDto.hasInjectionDevice === false"
                    [formControl]="hasInjectionDevice" type="radio" name="div-injectorDevice">
                  <label for="inp-hasInjectionDevice-no">No</label>
                </div>
                <div [style.display]="'inline-block'">
                  <input id="inp-hasInjectionDevice-yes" [(ngModel)]="kidDto.hasInjectionDevice" [value]="true" [checked]="kidDto.hasInjectionDevice === true"
                    [formControl]="hasInjectionDevice" type="radio" name="div-injectorDevice">
                  <label for="inp-hasInjectionDevice-yes">Yes</label>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <div class="m-b-1">
            <h5>Asthma</h5>
          </div>
          <div id="div-asthma" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
              <div class="col-sm-12 col-md-6">
                <label>Has this child been diagnosed with asthma?</label>
              </div>
              <div class="col-sm-12 col-md-6">
                <div [style.display]="'inline-block'" class="p-r-3">
                  <input id="inp-hasAsthma-no" [(ngModel)]="kidDto.hasAsthma" [value]="false" [checked]="kidDto.hasAsthma === false" [formControl]="hasAsthma"
                    type="radio" name="div-asthma">
                  <label for="inp-hasAsthma-no">No</label>
                </div>
                <div [style.display]="'inline-block'">
                  <input id="inp-hasAsthma-yes" [(ngModel)]="kidDto.hasAsthma" [value]="true" [checked]="kidDto.hasAsthma === true" [formControl]="hasAsthma"
                    type="radio" name="div-asthma">
                  <label for="inp-hasAsthma-yes">Yes</label>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <div class="m-b-1">
            <h5>Immunisation</h5>
          </div>
          <div id="div-immunisation" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
              <div class="col-sm-12 col-md-6">
                <label>Has this child been immunised?</label>
              </div>
              <div class="col-sm-12 col-md-6">
                <div [style.display]="'inline-block'" class="p-r-3">
                  <input id="inp-isImmunised-no" [(ngModel)]="kidDto.isImmunised" [value]="false" [checked]="kidDto.isImmunised === false"
                    [formControl]="isImmunised" type="radio" name="div-immunisation">
                  <label for="inp-isImmunised-no">No</label>
                </div>
                <div [style.display]="'inline-block'">
                  <input id="inp-isImmunised-yes" [(ngModel)]="kidDto.isImmunised" [value]="true" [checked]="kidDto.isImmunised === true" [formControl]="isImmunised"
                    type="radio" name="div-immunisation">
                  <label for="inp-isImmunised-yes">Yes</label>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <div class="m-b-1">
            <h5>Special Needs</h5>
          </div>
          <div id="div-special-needs" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
              <div class="col-sm-12 col-md-6">
                <label>Does this child have any additional needs including intellectual, sensory or physical impairment or any special needs?</label>
              </div>
              <div class="col-sm-12 col-md-6">
                <div [style.display]="'inline-block'" class="p-r-3">
                  <input id="inp-hasSpecialNeeds-no" [(ngModel)]="kidDto.hasSpecialNeeds" [value]="false" [checked]="kidDto.hasSpecialNeeds === false"
                    [formControl]="hasSpecialNeeds" type="radio" name="div-special-needs">
                  <label for="inp-hasSpecialNeeds-no">No</label>
                </div>
                <div [style.display]="'inline-block'">
                  <input id="inp-hasSpecialNeeds-yes" [(ngModel)]="kidDto.hasSpecialNeeds" [value]="true" [checked]="kidDto.hasSpecialNeeds === true"
                    [formControl]="hasSpecialNeeds" type="radio" name="div-special-needs">
                  <label for="inp-hasSpecialNeeds-yes">Yes</label>
                </div>
              </div>
            </div>
          </div>

          <div name="div-special-needs-services" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
              <div class="col-sm-12 col-md-6">
                <label>Is the child attending and / or receiving any support services for their additional needs?</label>
              </div>
              <div class="col-sm-12 col-md-6">
                <div [style.display]="'inline-block'" class="p-r-3">
                  <input id="inp-hasSupportServices-no" [(ngModel)]="kidDto.hasSupportServices" [value]="false" [checked]="kidDto.hasSupportServices === false"
                    [formControl]="hasSupportServices" type="radio" name="div-special-needs-services">
                  <label for="inp-hasSupportServices-no">No</label>
                </div>
                <div [style.display]="'inline-block'">
                  <input id="inp-hasSupportServices-yes" [(ngModel)]="kidDto.hasSupportServices" [value]="true" [checked]="kidDto.hasSupportServices === true"
                    [formControl]="hasSupportServices" type="radio" name="div-special-needs-services">
                  <label for="inp-hasSupportServices-yes">Yes</label>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </fieldset>

      <fieldset class="form-group">
        <div class="m-b-1">
          <h5>Other Medical Conditions</h5>
        </div>
        <fieldset class="form-group">
          <div class="col-sm-12, col-md-6">
            <label>Please list any other medical conditions this child may have</label>
          </div>
          <div class="col-sm-12 col-md-10">
            <div class="row m-b-1">
              <div class="col-sm-12 col-md-4">
                <div class="row">
                  <div class="col-sm-1">
                    <label>1.&#160;</label>
                  </div>
                  <div class="col-sm-10">
                    <input id="inp-medicalCondition1" [(ngModel)]="kidDto.medicalCondition1" [formControl]="medicalCondition1" type="text" class="form-control">
                    <small [hidden]="medicalCondition1.valid || medicalCondition1.untouched" class="text-danger">Must consist of maximum 100 charachters</small>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="row">
                  <div class="col-sm-1">
                    <label>2.&#160;</label>
                  </div>
                  <div class="col-sm-10">
                    <input id="inp-medicalCondition2" [(ngModel)]="kidDto.medicalCondition2" [formControl]="medicalCondition2" type="text" class="form-control">
                    <small [hidden]="medicalCondition2.valid || medicalCondition2.untouched" class="text-danger">Must consist of maximum 100 charachters</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="row m-b-1">
              <div class="col-sm-12 col-md-4">
                <div class="row">
                  <div class="col-sm-1">
                    <label>3.&#160;</label>
                  </div>
                  <div class="col-sm-10">
                    <input id="inp-medicalCondition3" [(ngModel)]="kidDto.medicalCondition3" [formControl]="medicalCondition3" type="text" class="form-control">
                    <small [hidden]="medicalCondition3.valid || medicalCondition3.untouched" class="text-danger">Must consist of maximum 100 charachters</small>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-4">
                <div class="row">
                  <div class="col-sm-1">
                    <label>4.&#160;</label>
                  </div>
                  <div class="col-sm-10">
                    <input id="inp-medicalCondition4" [(ngModel)]="kidDto.medicalCondition4" [formControl]="medicalCondition4" type="text" class="form-control">
                    <small [hidden]="medicalCondition4.valid || medicalCondition4.untouched" class="text-danger">Must consist of maximum 100 charachters</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </fieldset>

      <fieldset class="form-group">
        <div class="m-b-1">
          <h5>Other Requirements</h5>
        </div>
        <fieldset class="form-group">
          <div class="col-sm-12 col-md-2">
            <label>Dietary Needs</label>
          </div>
          <div class="col-sm-12 col-md-4">
            <textarea id="inp-dietaryNeeds" [(ngModel)]="kidDto.dietaryNeeds" [formControl]="dietaryNeeds" rows="3" class="form-control"></textarea>
            <small [hidden]="dietaryNeeds.valid || dietaryNeeds.untouched" class="text-danger">Must consist of maximum 2000 charachters</small>
          </div>
        </fieldset>
        <fieldset class="form-group">
          <div class="col-sm-12 col-md-2">
            <label>Dental Needs</label>
          </div>
          <div class="col-sm-12 col-md-4">
            <textarea id="inp-dentalNeeds" [(ngModel)]="kidDto.dentalNeeds" [formControl]="dentalNeeds" rows="3" class="form-control"></textarea>
            <small [hidden]="dentalNeeds.valid || dentalNeeds.untouched" class="text-danger">Must consist of maximum 2000 charachters</small>
          </div>
        </fieldset>
      </fieldset>

      <fieldset class="form-group">
        <div class="m-b-1">
          <h5>Declaration & Consent to Medical Treatment</h5>
        </div>
        <div class="m-b-1">
          <span>I, {{ kidDto.consentFullName }}, am a person with lawful authority / parent responsibility of the child referred to in this enrolment form:</span>
        </div>

        <fieldset class="form-group">
          <div name="div-consentToAccuracy" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
              <div class="col-sm-12 col-md-6">
                <label>Declare that the information in this enrolment form is true and correct and undertake to immediately inform the Education and Care Service in the event of a change to this information *</label>
              </div>
              <div class="col-sm-12 col-md-6">
                <div [style.display]="'inline-block'" class="p-r-3">
                  <input id="inp-consentToAccuracy-no" [(ngModel)]="kidDto.consentToAccuracy" [value]="false" [checked]="kidDto.consentToAccuracy === false"
                    [formControl]="consentToAccuracy" type="radio" name="div-consentToAccuracy">
                  <label for="inp-consentToAccuracy-no">No</label>
                </div>
                <div [style.display]="'inline-block'">
                  <input id="inp-consentToAccuracy-yes" [(ngModel)]="kidDto.consentToAccuracy" [value]="true" [checked]="kidDto.consentToAccuracy === true"
                    [formControl]="consentToAccuracy" type="radio" name="div-consentToAccuracy">
                  <label for="inp-consentToAccuracy-yes">Yes</label>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <div name="div-consentToCollection" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
              <div class="col-sm-12 col-md-6">
                <label>Agree to collect or make arrangements for the collection of the child referred to in this enrolment form if she/he becomes unwell at the Education and Care Service *</label>
              </div>
              <div class="col-sm-12 col-md-6">
                <div [style.display]="'inline-block'" class="p-r-3">
                  <input id="inp-consentToCollection-no" [(ngModel)]="kidDto.consentToCollection" [value]="false" [checked]="kidDto.consentToCollection === false"
                    [formControl]="consentToCollection" type="radio" name="div-consentToCollection">
                  <label for="inp-consentToCollection-no">No</label>
                </div>
                <div [style.display]="'inline-block'">
                  <input id="inp-consentToCollection-yes" [(ngModel)]="kidDto.consentToCollection" [value]="true" [checked]="kidDto.consentToCollection === true"
                    [formControl]="consentToCollection" type="radio" name="div-consentToCollection">
                  <label for="inp-consentToCollection-yes">Yes</label>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <div name="div-consentToTreatment" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
              <div class="col-sm-12 col-md-6">
                <label>Consent to the staff of the Early Learning Service seek, or where appropriate, administering such emergency medical treatment including from a medical practitioner, hospital or ambulance, emergency dental treatment as is reasonable or necessary; including transportation by ambulance *</label>
              </div>
              <div class="col-sm-12 col-md-6">
                <div [style.display]="'inline-block'" class="p-r-3">
                  <input id="inp-consentToTreatment-no" [(ngModel)]="kidDto.consentToTreatment" [value]="false" [checked]="kidDto.consentToTreatment === false"
                    [formControl]="consentToTreatment" type="radio" name="div-consentToTreatment">
                  <label for="inp-consentToTreatment-no">No</label>
                </div>
                <div [style.display]="'inline-block'">
                  <input id="inp-consentToTreatment-yes" [(ngModel)]="kidDto.consentToTreatment" [value]="true" [checked]="kidDto.consentToTreatment === true"
                    [formControl]="consentToTreatment" type="radio" name="div-consentToTreatment">
                  <label for="inp-consentToTreatment-yes">Yes</label>
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <div name="div-contentToCost" class="col-sm-12, col-md-10">
            <div class="row m-b-1">
              <div class="col-sm-12 col-md-6">
                <label>Declare that I will reimburse any necessary expenses incurred by the service *</label>
              </div>
              <div class="col-sm-12 col-md-6">
                <div [style.display]="'inline-block'" class="p-r-3">
                  <input id="inp-contentToCost-no" [(ngModel)]="kidDto.contentToCost" [value]="false" [checked]="kidDto.contentToCost === false"
                    [formControl]="contentToCost" type="radio" name="div-contentToCost">
                  <label for="inp-contentToCost-no">No</label>
                </div>
                <div [style.display]="'inline-block'">
                  <input id="inp-contentToCost-yes" [(ngModel)]="kidDto.contentToCost" [value]="true" [checked]="kidDto.contentToCost === true"
                    [formControl]="contentToCost" type="radio" name="div-contentToCost">
                  <label for="inp-contentToCost-yes">Yes</label>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </fieldset>
    </form>
  </div>
  <button id="btn-save-centre" type="button" (click)="saveChangesAndGoBack()" [disabled]="!form.valid" class="btn btn-primary">Save</button>
  <button id="btn-save-continue-centre" type="button" (click)="saveChangesAndContinue()" [disabled]="!form.valid" class="btn btn-primary">Save and continue</button>
  <button id="btn-cancel-centre" type="button" (click)="cancelEdit()" class="btn btn-danger">Cancel</button>
</div>

<!--Modal-->
<div class="modal fade" bsModal (onHide)="onHide($event)" #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
  role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Dear Parent/Guardian</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <label aria-hidden="true">&#215;</label>
        </button>
      </div>
      <div class="modal-body">
        Please note that you have changed your Child's Health Information and as per {{ centreName }} policy, it is your responsibility
        to notify the Centre Admin of the changes. Please be advised that this may require you to re-sign any documents affected
        by these changes.<br/><br/> Regards,<br/> {{ centreName }}
      </div>
    </div>
  </div>
</div>
<!--End Modal -->