.footer {
    position:absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.display-inline {
    display: inline-block;
}

.vertical-align {
    vertical-align: middle;
}

.document-links {
    color: white;
}

.document-links:hover {
    text-decoration: underline;
}