.picture-group {
  border: 1px dashed #b8b8b8;
  width: 202px;
  height: 202px;
  position: relative;
  cursor: pointer;
}

.picture-group > .picture-wrapper {
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-group img {
    max-width: 100%;
    max-height: 100%;
  }
  .picture-group i {
    display: none;
    position: absolute;
    font-size: 32px;
    /*background: $default;*/
    cursor: pointer;
    /*color: $primary;*/
    top: -11px;
    right: -11px;
    height: 26px;
    border-radius: 50%;
  }

.picture-group i:before {
    line-height: 26px;
}

.picture-group i:hover {
    /*color: $danger;*/
}

.picture-group a.change-picture {
    width: 202px;
    background: rgba(0, 0, 0, 0.7);
    transition: all 200ms ease-in-out;
    /*color: $default-text;*/
    text-decoration: none;
    position: absolute;
    bottom: -1px;
    left: -1px;
    line-height: 32px;
    text-align: center;
}
  
.picture-group:hover i {
    display: block;
}

.picture-group:hover i .change-picture {
    display: block;
}

.picture-group .loading {
    width: 100%;
    height: 100%;
    left: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
  }

.picture-group .spinner {
    width: 60px;
    height: 60px;
    position: relative;
  }

.picture-group .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }

.picture-group .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

@-webkit-keyframes sk-bounce {
    0%, 100% {
      -webkit-transform: scale(0.0)
    }
    50% {
      -webkit-transform: scale(1.0)
    }
  }

@keyframes sk-bounce {
    0%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    }
    50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }