<h2 class="text-muted brand">Dashboard <small>Overview for {{ centreName }}</small></h2>
<hr>
<div class="row">
    <div class="col-xl-3 col-lg-6">
        <div class="card card-primary card-inverse">
            <div class="card-header card-primary">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div id="pending-approval-div" *ngIf="pendingApprovals !== null" class="huge">{{ pendingApprovals }}</div>
                        <div *ngIf="pendingApprovals === null">
                            <spinner-cmp></spinner-cmp>
                        </div>
                        <div>Pending Approvals</div>
                    </div>
                </div>
            </div>
            <div class="card-footer card-default">
                <a [routerLink]="['../enrolment-approvals']" >
                    <span class="pull-xs-left">View Details</span>
                    <span class="pull-xs-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-success card-inverse">
            <div class="card-header card-success">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div id="available-days-div" *ngIf="availableDays !== null" class="huge">{{ availableDays }}</div>
                        <div *ngIf="availableDays === null">
                            <spinner-cmp></spinner-cmp>
                        </div>
                        <div>Advertised Places</div>
                    </div>
                </div>
            </div>
            <div class="card-footer card-green">
                <a class="text-success" [routerLink]="['../swaps']" >
                    <span class="pull-xs-left">View Details</span>
                    <span class="pull-xs-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-warning card-inverse">
            <div class="card-header card-warning">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div id="total-income-div" *ngIf="totalIncome !== null" class="huge">$ {{ totalIncome }}</div>
                        <div *ngIf="totalIncome === null">
                            <spinner-cmp></spinner-cmp>
                        </div>
                        <div>MiCare Income</div>
                    </div>
                </div>
            </div>
            <div class="card-footer card-yellow">
                <a class="text-warning" [routerLink]="['../swaps']" >
                    <span class="pull-xs-left">View Details</span>
                    <span class="pull-xs-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-danger card-inverse">
            <div class="card-header card-danger">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-xs-right">
                        <div id="total-parents-div" *ngIf="parentCount !== null" class="huge">{{ parentCount }}</div>
                        <div *ngIf="parentCount === null">
                            <spinner-cmp></spinner-cmp>
                        </div>
                        <div>MiCare Parents</div>
                    </div>
                </div>
            </div>
            <div class="card-footer card-red">
                <a class="text-danger" [routerLink]="['../bookings']" >
                    <span class="pull-xs-left">View Details</span>
                    <span class="pull-xs-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="card card-block">
            <div *ngIf="daysForSale === null || daysSold === null">
                <spinner-cmp></spinner-cmp>
            </div>
            <div id="miSwaps-table" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="card card-block">
            <div *ngIf="monthlyRevenue === null || estimatedFutureIncome === null">
                <spinner-cmp></spinner-cmp>
            </div>
            <div id="miSwaps-income-table" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
    </div>
</div>