@import "../bootstrap/variables.scss";
@import "app-base.scss";

.row-div {
    border-top: 1px solid #eceeef;
    padding: 10px 0 10px 0;
}

@page {
    size:  auto;
    margin: 5mm;
}

@media print {

    .print-header {
        display: block !important;
        text-align: center;
    }

    .sidebar {
        display: none;
    }

    .breadcrumb {
        display: none;
    }

    .print {
        display: none;
    }

    .main-container {
        margin: 0;
    }

    .collapse {
        display: block !important;
        height: auto !important;
    }

    footer {
        page-break-after: always;
    }
}