﻿<form *ngIf="!userCreated" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="form-group">
        <input id="inp-firstName" [formControl]="firstName" type="text" class="form-control input-underline input-lg" placeholder="First Name">
        <small [hidden]="firstName.valid || (firstName.pristine && !form.submitted)" class="text-danger">
						Your name must be longer than one character.
					</small>
    </div>
    <div class="form-group">
        <input id="inp-lastName" [formControl]="lastName" type="text" class="form-control input-underline input-lg" placeholder="Last Name">
        <small [hidden]="lastName.valid || (lastName.pristine && !form.submitted)" class="text-danger">
 						Your name must be longer than one character.
 					</small>
    </div>
    <div class="form-group">
        <input id="inp-mobilePhone" [formControl]="mobilePhone" type="text" class="form-control input-underline input-lg" placeholder="Mobile Phone">
        <small [hidden]="mobilePhone.valid || (mobilePhone.pristine && !form.submitted)" class="text-danger">
						Mobile Phone is required and format should be <i>04xx xxx xxx</i>.
					</small>
    </div>
    <div class="form-group">
        <input id="inp-username" autocomplete="username" [formControl]="email" type="text" name="username" class="form-control input-underline input-lg"
            placeholder="Email Address">
        <small [hidden]="email.valid || (email.pristine && !form.submitted)" class="text-danger">
						Please enter an email address in the standard format <i>(e.g. abc@gmail.com)</i>
					</small>
    </div>
    <div class="form-group">
        <input id="inp-password" [formControl]="password" type="password" name="password" class="form-control input-underline input-lg"
            placeholder="Password">
        <small [hidden]="password.valid || (password.pristine && !form.submitted)" class="text-danger">
						Your password must be at least 8 characters in length, containing letters, one capital letter, one number and one special character.
					</small>
    </div>
    <div class="form-group">
        <input id="inp-confirmPassword" [formControl]="confirmPassword" type="password" class="form-control input-underline input-lg"
            placeholder="Repeat Password">
        <small [hidden]="passwords.valid  || ((password.pristine || confirmPassword.pristine) && !form.submitted)" class="text-danger">
		         		Your password does not match.
		       		</small>
    </div>
    <div class="form-group">
        <div *ngIf="captcha_enabled">
            <re-captcha #recaptcha (captchaResponse)="handleCorrectCaptcha($event)" (captchaExpired)="handleCaptchaExpired()" site_key="{{captcha_key}}"></re-captcha>
        </div>
    </div>

    <div>
        <button id="btn-register" type="submit" [disabled]="submitted || !(form.valid && captcha)" value="default" class="btn rounded-btn pull-right">Create an account</button>
        <button id="btn-back" type="button" class="btn rounded-btn pull-left" value="non-default" [routerLink]="['/parent-login', centreName]">Back</button>
    </div>

</form>

<div id="div-userCreated" *ngIf="userCreated">
    <span>Please check your email for the registration link.</span>
</div>

<!--Modal-->
<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <span>You already have an Account in our system.</span>
                <br/><br/>
                <span>Please Log In to access your Account at {{ centreName }}.</span>
                <br/><br/>
                <div class="container">
                    <div class="col-sm-12">
                        <button id="btn-confirm-info-share" type="button" (click)="confirmRedirect()" class="btn btn-success">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Modal -->