﻿<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="form-group">
        <input id="inp-username" name="username" autocomplete="username" [formControl]="email" type="text" class="form-control input-underline input-lg" placeholder="Email Address">
    </div>
    <div class="form-group">
        <input id="inp-password" name="password" [formControl]="password" type="password" class="form-control input-underline input-lg" placeholder="Password">
    </div>
    <div class="row">
        <button id="btn-login" class="btn rounded-btn" [disabled]="!form.valid || submitted" type="submit">Login</button>&#160;
        <button id="btn-register" class="btn rounded-btn" routerLink="/signup" type="button">Register</button>
    </div>
    <div class="row">
        <small><a id="lnk-rest-password" class="reset-password-link" routerLink="/public/reset-password">Forgot Password?</a></small>
    </div>
</form>