<div class="login-page">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <div>
                <img src="assets/img/MICARE_GLOBAL_ALTERNATIVE_WHITE.png" width="350px" />
            </div>
            <div *ngIf="token">
                <div *ngIf="!passwordChanged">
                    <div class="m-t-1 m-b-1">
                        <h3>Change Password</h3>
                    </div>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <input id="inp-password" [formControl]="password" type="password" name="password" class="form-control input-underline input-lg"
                                placeholder="Password">
                            <small [hidden]="password.valid || (password.pristine && !form.submitted)" class="text-danger">
						Your password must be at least 8 characters in length, containing letters, one capital letter, one number and one special character.
					</small>
                        </div>
                        <div class="form-group">
                            <input id="inp-confirmPassword" [formControl]="confirmPassword" type="password" class="form-control input-underline input-lg"
                                placeholder="Repeat Password">
                            <small [hidden]="form.valid  || ((password.pristine || confirmPassword.pristine) && !form.submitted)" class="text-danger">
		         		Your password does not match.
		       		</small>
                        </div>
                        <div>
                            <button id="btn-change-password" type="submit" [disabled]="submitted || !form.valid" class="btn rounded-btn">Change Password</button>
                        </div>
                    </form>
                </div>
                <div *ngIf="passwordChanged">
                    <h1>Password Changed!</h1>
                    <a id="btn-login" class="btn btn-primary btn-lg" routerLink="/login">Login</a>
                </div>
            </div>
            <div *ngIf="!token">
                <strong>Please <a id="lnk-rest-password" routeLink="/public/reset-password" href="javascript:void(0)" >Reset your password first</a></strong>
            </div>
        </div>
    </div>
</div>