<router-outlet></router-outlet>

<!--Modal-->
<div *ngIf="enrolmentFormConsent === false">
    <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <span>Your Enrolment Details are already in our system.</span>
                    <br/><br/>
                    <span><b>Do you consent for them to be shared with {{ centreName }}?</b></span>
                    <br/><br/>
                    <div class="container">
                        <div class="col-sm-12">
                            <button id="btn-confirm-info-share" type="button" (click)="grantAccess()" class="btn btn-success">Yes</button>
                            <button id="btn-deny-info-share" type="button" (click)="denyAccess()" class="btn btn-danger">No, log me out!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Modal -->