<!DOCTYPE html>
<html lang="en">

<head>
    <base href="<%= APP_BASE %>">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= APP_TITLE %>
    </title>
    <meta name="description" content="">
    <link rel="icon" href="/assets/img/icon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
        // temporary hack for enable bootstrap 4
        window.__theme = 'bs4';
    </script>
    <!-- inject:css -->
    <!-- endinject -->
</head>

<body>

    <sd-app>
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </sd-app>

    <script>
        // Fixes undefined module function in SystemJS bundle
        function module() { }
    </script>

    <!-- start Mixpanel -->
    <script type="text/javascript">
        (function (e, a) {
            if (!a.__SV) {
                var b = window; try { var c, l, i, j = b.location, g = j.hash; c = function (a, b) { return (l = a.match(RegExp(b + "=([^&]*)"))) ? l[1] : null }; g && c(g, "state") && (i = JSON.parse(decodeURIComponent(c(g, "state"))), "mpeditor" === i.action && (b.sessionStorage.setItem("_mpcehash", g), history.replaceState(i.desiredHash || "", e.title, j.pathname + j.search))) } catch (m) { } var k, h; window.mixpanel = a; a._i = []; a.init = function (b, c, f) {
                    function e(b, a) {
                        var c = a.split("."); 2 == c.length && (b = b[c[0]], a = c[1]); b[a] = function () {
                            b.push([a].concat(Array.prototype.slice.call(arguments,
                                0)))
                        }
                    } var d = a; "undefined" !== typeof f ? d = a[f] = [] : f = "mixpanel"; d.people = d.people || []; d.toString = function (b) { var a = "mixpanel"; "mixpanel" !== f && (a += "." + f); b || (a += " (stub)"); return a }; d.people.toString = function () { return d.toString(1) + ".people (stub)" }; k = "disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
                    for (h = 0; h < k.length; h++)e(d, k[h]); a._i.push([b, c, f])
                }; a.__SV = 1.2; b = e.createElement("script"); b.type = "text/javascript"; b.async = !0; b.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ? MIXPANEL_CUSTOM_LIB_URL : "file:" === e.location.protocol && "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"; c = e.getElementsByTagName("script")[0]; c.parentNode.insertBefore(b, c)
            }
        })(document, window.mixpanel || []);
    </script>
    <script type="text/javascript">
        // During compilation, a variable global is being defined instead of window.
        // Fix to define global as the window object
        var global = window;
    </script>
    <!-- end Mixpanel -->
    <!-- shims:js -->
    <!-- endinject -->

    <% if (ENV === 'dev') { %>
        <script src="<%= APP_BASE %>app/system-config.js"></script>
        <% } %>

            <!-- libs:js -->
            <!-- endinject -->

            <!-- inject:js -->
            <!-- endinject -->

            <% if (ENV === 'dev') { %>
                <script>
                    System.import('<%= BOOTSTRAP_MODULE %>')
                        .catch(function (e) {
                            console.error(e,
                                'Report this error at https://github.com/mgechev/angular2-seed/issues');
                        });
                </script>
                <% } %>

</body>

</html>