<div *ngIf="!enrolmentFormDto">
    <spinner-cmp></spinner-cmp>
</div>
<div *ngIf="enrolmentFormDto">
    <form [formGroup]="form" role="form">
        <fieldset class="form-group">
            <div class="m-b-1">
                <h5>Declaration & Consent</h5>
            </div>
            <div class="m-b-1">
                <span>I, {{ enrolmentFormDto.consentFullName }}, am a person with lawful authority / parent responsibility of the child referred to in this enrolment form declare and give my consent for the following:</span>
            </div>

            <fieldset class="form-group">
                <div name="div-consentPolices" class="col-sm-12, col-md-10">
                    <div class="row m-b-1">
                        <div class="col-sm-12 col-md-6">
                            <label>I have read and understood the centre policies and procedures and agree to follow these as a condition of enrolment *</label>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div [style.display]="'inline-block'" class="p-r-3">
                                <input id="inp-consentPolices-no" [(ngModel)]="enrolmentFormDto.consentPolices" [value]="false" [checked]="enrolmentFormDto.consentPolices === false"
                                    [formControl]="consentPolices" type="radio" name="div-consentPolices">
                                <label for="inp-consentPolices-no">No</label>
                            </div>
                            <div [style.display]="'inline-block'">
                                <input id="inp-consentPolices-yes" [(ngModel)]="enrolmentFormDto.consentPolices" [value]="true" [checked]="enrolmentFormDto.consentPolices === true"
                                    [formControl]="consentPolices" type="radio" name="div-consentPolices">
                                <label for="inp-consentPolices-yes">Yes</label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <div name="div-consentSunHat" class="col-sm-12, col-md-10">
                    <div class="row m-b-1">
                        <div class="col-sm-12 col-md-6">
                            <label>I agree to provide my child with a sun safe hat for outdoor activities *</label>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div [style.display]="'inline-block'" class="p-r-3">
                                <input id="inp-consentSunHat-no" [(ngModel)]="enrolmentFormDto.consentSunHat" [value]="false" [checked]="enrolmentFormDto.consentSunHat === false"
                                    [formControl]="consentSunHat" type="radio" name="div-consentSunHat">
                                <label for="inp-consentSunHat-no">No</label>
                            </div>
                            <div [style.display]="'inline-block'">
                                <input id="inp-consentSunHat-yes" [(ngModel)]="enrolmentFormDto.consentSunHat" [value]="true" [checked]="enrolmentFormDto.consentSunHat === true"
                                    [formControl]="consentSunHat" type="radio" name="div-consentSunHat">
                                <label for="inp-consentSunHat-yes">Yes</label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <div name="div-consentCollect" class="col-sm-12, col-md-10">
                    <div class="row m-b-1">
                        <div class="col-sm-12 col-md-6">
                            <label>I agree to collect or make arrangement for the collection of my child if they become unwell at the service *</label>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div [style.display]="'inline-block'" class="p-r-3">
                                <input id="inp-consentCollect-no" [(ngModel)]="enrolmentFormDto.consentCollect" [value]="false" [checked]="enrolmentFormDto.consentCollect === false"
                                    [formControl]="consentCollect" type="radio" name="div-consentCollect">
                                <label for="inp-consentCollect-no">No</label>
                            </div>
                            <div [style.display]="'inline-block'">
                                <input id="inp-consentCollect-yes" [(ngModel)]="enrolmentFormDto.consentCollect" [value]="true" [checked]="enrolmentFormDto.consentCollect === true"
                                    [formControl]="consentCollect" type="radio" name="div-consentCollect">
                                <label for="inp-consentCollect-yes">Yes</label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <div name="div-consentAbsentWhenSick" class="col-sm-12, col-md-10">
                    <div class="row m-b-1">
                        <div class="col-sm-12 col-md-6">
                            <label>I agree to keep my child away from the service if they display any symptom which would be considered contagious *</label>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div [style.display]="'inline-block'" class="p-r-3">
                                <input id="inp-consentAbsentWhenSick-no" [(ngModel)]="enrolmentFormDto.consentAbsentWhenSick" [value]="false" [checked]="enrolmentFormDto.consentAbsentWhenSick === false"
                                    [formControl]="consentAbsentWhenSick" type="radio" name="div-consentAbsentWhenSick">
                                <label for="inp-consentAbsentWhenSick-no">No</label>
                            </div>
                            <div [style.display]="'inline-block'">
                                <input id="inp-consentAbsentWhenSick-yes" [(ngModel)]="enrolmentFormDto.consentAbsentWhenSick" [value]="true" [checked]="enrolmentFormDto.consentAbsentWhenSick === true"
                                    [formControl]="consentAbsentWhenSick" type="radio" name="div-consentAbsentWhenSick">
                                <label for="inp-consentAbsentWhenSick-yes">Yes</label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <div name="div-consentInformationShare" class="col-sm-12, col-md-10">
                    <div class="row m-b-1">
                        <div class="col-sm-12 col-md-6">
                            <label>I agree that some information may be given to other organisations (such as government agencies) as required or authorised by law *</label>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div [style.display]="'inline-block'" class="p-r-3">
                                <input id="inp-consentInformationShare-no" [(ngModel)]="enrolmentFormDto.consentInformationShare" [value]="false" [checked]="enrolmentFormDto.consentInformationShare === false"
                                    [formControl]="consentInformationShare" type="radio" name="div-consentInformationShare">
                                <label for="inp-consentInformationShare-no">No</label>
                            </div>
                            <div [style.display]="'inline-block'">
                                <input id="inp-consentInformationShare-yes" [(ngModel)]="enrolmentFormDto.consentInformationShare" [value]="true" [checked]="enrolmentFormDto.consentInformationShare === true"
                                    [formControl]="consentInformationShare" type="radio" name="div-consentInformationShare">
                                <label for="inp-consentInformationShare-yes">Yes</label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <div name="div-consentFees" class="col-sm-12, col-md-10">
                    <div class="row m-b-1">
                        <div class="col-sm-12 col-md-6">
                            <label>I am aware that fees are charged weekly and non-payment will result in cancellation of my child's enrolment *</label>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div [style.display]="'inline-block'" class="p-r-3">
                                <input id="inp-consentFees-no" [(ngModel)]="enrolmentFormDto.consentFees" [value]="false" [checked]="enrolmentFormDto.consentFees === false"
                                    [formControl]="consentFees" type="radio" name="div-consentFees">
                                <label for="inp-consentFees-no">No</label>
                            </div>
                            <div [style.display]="'inline-block'">
                                <input id="inp-consentFees-yes" [(ngModel)]="enrolmentFormDto.consentFees" [value]="true" [checked]="enrolmentFormDto.consentFees === true"
                                    [formControl]="consentFees" type="radio" name="div-consentFees">
                                <label for="inp-consentFees-yes">Yes</label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <div name="div-consentTrueAndCorrect" class="col-sm-12, col-md-10">
                    <div class="row m-b-1">
                        <div class="col-sm-12 col-md-6">
                            <label>I declare that the information provided in this form is true and correct *</label>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div [style.display]="'inline-block'" class="p-r-3">
                                <input id="inp-consentTrueAndCorrect-no" [(ngModel)]="enrolmentFormDto.consentTrueAndCorrect" [value]="false" [checked]="enrolmentFormDto.consentTrueAndCorrect === false"
                                    [formControl]="consentTrueAndCorrect" type="radio" name="div-consentTrueAndCorrect">
                                <label for="inp-consentTrueAndCorrect-no">No</label>
                            </div>
                            <div [style.display]="'inline-block'">
                                <input id="inp-consentTrueAndCorrect-yes" [(ngModel)]="enrolmentFormDto.consentTrueAndCorrect" [value]="true" [checked]="enrolmentFormDto.consentTrueAndCorrect === true"
                                    [formControl]="consentTrueAndCorrect" type="radio" name="div-consentTrueAndCorrect">
                                <label for="inp-consentTrueAndCorrect-yes">Yes</label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <div name="div-consentIdentity" class="col-sm-12, col-md-10">
                    <div class="row m-b-1">
                        <div class="col-sm-12 col-md-6">
                            <label>I declare that I am the applicant named in the form and that all information and documents provided as part of my application are true and correct *</label>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div [style.display]="'inline-block'" class="p-r-3">
                                <input id="inp-consentIdentity-no" [(ngModel)]="enrolmentFormDto.consentIdentity" [value]="false" [checked]="enrolmentFormDto.consentIdentity === false"
                                    [formControl]="consentIdentity" type="radio" name="div-consentIdentity">
                                <label for="inp-consentIdentity-no">No</label>
                            </div>
                            <div [style.display]="'inline-block'">
                                <input id="inp-consentIdentity-yes" [(ngModel)]="enrolmentFormDto.consentIdentity" [value]="true" [checked]="enrolmentFormDto.consentIdentity === true"
                                    [formControl]="consentIdentity" type="radio" name="div-consentIdentity">
                                <label for="inp-consentIdentity-yes">Yes</label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </fieldset>
        <button id="btn-save-centre" type="button" (click)="saveChanges()" [disabled]="!form.valid" class="btn btn-primary">Save</button>
    </form>
</div>