<div>
    <fieldset class="form-group">
        <div class="col-sm-12, col-md-4, col-lg-4, col-xl-2">
            <label>Bank Account</label>
        </div>
        <div id="spn-redacted-account" class="col-sm-12, col-md-8, col-lg-4, col-xl-4">
            <div>
                <span>{{ redactedPayoutMethod }}</span>
            </div>
        </div>
    </fieldset>
    <button id="btn-edit-centre-bank-details" type="button" class="btn btn-primary" (click)="setEditMode()">Edit</button>
</div>